%header
  .row
    .large-12.columns
      %h1 Savoir communiquer avec un developpeur

%section#intro
  .row
    .large-12.columns
      %h1 8h, c'est le temps qu'il vous faudra pour apprendre à communiquer efficacement avec un développeur
%section#technos
  .row
    .large-12.columns
      %h2 Ce que vous allez découvrir:
      %p Comprendre les développeurs
      %ul
        %li Tour d’horizon du monde de la programmation
        %li Les missions du développeur
      %p Réflechir programmatiquement
      %ul
        %li Penser logique
        %li Estimer la complexité/temps
        %li Rédiger un cahier des charges
      %p Communiquer vos demandes
        %ul
          %li Ecrire des tests
          %li Exprimer sa demande en mobilisant les notions de programmation apropiées

      %h2 Le programme de la journée
      %p Les développeurs viennent d’une autre planète. Cet été, embarquez pour SC24, leur planète d’origine et apprenez à les comprendre. 
      %ul
        %li 
          9h
          %ul
            %li
        %li
          13h
          %ul
            %li
        %li
          15h - 19h
          %ul
            %li

      %h2 A la fin de cette formation:
      %p Vous allez:
      %ul
        %li Connaître et mobiliser le lexique et le vocabulaire d’un développeur
        %li Formuler clairement vos demandes pour gagner du temps
        %li appréhender la programmation avec Ruby
        %li savoir rédiger un cahier des charges

      %h2 Ou? Qui?
      %p A Montreuil, au 55 rue de Vincennes dans une fabrique rénovée de 250 m² qui abrite Simplon.co , "fabrique de codeurs entreprenants".

      %h2 Pourquoi?
      %p Retard sur les délais, bugs, manque de temps ...La mauvaise communication entre le développeur et ses collègues de travail est souvent la source de retards et de tensions pour pouvoir mener à bien un projet.
Apprendre à se mettre à la place d’un développeur et se familiariser avec ses méthodes et outils de travail c’est s’assurer une qualité de travail inégalée. 
