%header
  .row
    .large-12.columns
      %h1 Conférences

%section#intro
  .row
    .large-12.columns
      %h1 Ce que vous allez découvri
      %p a programmation informatique est un domaine qui peut faire peur. Que se cache t’il derrière les applications et les logiciels que nous utilisons tous les jours ? Qui prend les décisions ? Nous utilisons tous les jours des produits numériques dont les fonctionnalités nous laissent parfois sans voix. Mais quelle langue parlent ces nouveaux magiciens qui programment notre quotidien ?

%section#technos
  .row
    .large-12.columns
      %h2 Programme de la journée
      %p Nous allons déchiffre:
      %ul
        %li Histoire de la programmation : du fantasme à son dépassement
        %li Débeugage des idées reçues sur la programmation : pas besoin d’être matheux 
        %li pause déjeuner  
        %li Des processus évolutifs à faire pâlir Darwin 
        %li Vers des machines intelligentes ? 
        %li A vous de jouer : initiation rapide à la programmation 

      %h2 Ou? Qui?
      %p blabla

      %h2 Pourquoi?
      %p Comprendre les enjeux liés à la programmation c’est faire un premier pas vers l’appropriation des technologies qui nous entourent. Aujourd’hui, la programmation s’ouvre à des publics de plus en plus vastes. Les scribes programmeurs ne sont plus les seuls à savoir lire et écrire. Pouvoir déchiffrer les enjeux liés à la programmation devient progressivement aussi important que de savoir lire, écrire et compter. 
