.row
  .large-12.columns
    %h1 Evénements
    %p
      Simplon.co, c'est aussi un lieu magique, une ancienne fabrique de latex devenue studio de cinéma 
      %a{:href =>"http://www.youtube.com/watch?v=Eb6VGdPGVO8"} la chocolaterie des Emotifs Anonymes avec Poelevorde et Carré
      et enfin : une fabrique de développeurs et un endroit où il se passe toujours quelque chose...
    %img(src="https://dl.dropboxusercontent.com/u/183631273/photo-frenchweb-cour-simplon.png")
    %p Les événements d'ores et déjà programmés (inscriptions obligatoires) :
    %ul
      %li 30 juillet : formation courte #Ruby #Sinatra #RaspberryPi #Twitter (1 jour)
      %li 31 juillet et 1er août : formation courte #Ruby #Dataviz (2 jours)

      %li 5, 6 et 7 août : formation courte #Ruby #Sinatra #RaspberryPi #Twitter (3 jours)
      %li 26 août : barcamp "code et hacking entre démocratisation et élitisme" (modération Amaëlle Guiton, Compagnons du DEV, Okhin de Télécomix, Antoine Amiel de Leearn, Simplon.co, #Codinggouters, des profs, des hackers...)
      %li 16 septembre : formation "le web comme solution" pour le programme ADIE Créajeunes 93
      %li fin septembre (à confirmer) : hackathon Orange
      %li 15/19 novembre : formations "SafirLab" (à confirmer)
      %li 28 novembre : événement communication responsable (programme à venir)

    %p
      Pour vous renseigner sur les disponibilités :
      %a{:href => "mailto:inbox@simplon.co"} envoyez-nous un mail
