.row
  .large-12.columns
    %h2 Formation à la programmation (ruby & ruby on rails) en 6 mois

    %h2.subheader
      Simplon.co vous permet de
      %strong développer un projet entrepreuneurial numérique,e
      en apprenant la programmation par la pratique dans le cadre d'une formation intensive (sites, applications, objets intelligents, etc.)
    %p Notre objectif : accompagner 24 personnes porteuses d'un projet entrepreunarial, dans l'apprentissage de la programmation web, et dans le développement de leur activité. 
    %p
      NB : même si les projets entrepreneuriaux éducationnels et/ou solidaires sont prioritaires, la motivation et les prédispositions à apprendre la programmation sont également un critère clef de notre recrutement, qui pèse dans notre sélection, et peut justifier de ne pas avoir de projet entrepreneurial.
    %p
      Donc si vous voulez développer un projet de carrière plutôt dirigé vers de l'emploi durable dans le développement web, sachez que la formation de Simplon vous est également ouverte. D'autant qu'elle est l'occasion d'apprendre par la pratique, sur des projets réels, portés par Simplon, par d'autres recrues, ou par des partenaires extérieurs. Et ce dans différents cadres (contrats de professionnalisation, Emplois d'Avenir, etc.).
    %p
      D'ailleurs, conseil à tous les candidats : avoir déjà commencé à s'autoformer par ses propres moyens, par exemple en obtenant des badges gratuits sur 
      %a(href="//www.codeschool.com/") Code School
      ou
      %a(href="//www.codecademy.com/") Code Academy 
      et en nous les transmettant, est une preuve concrète de motivation, et peut faire une vraie différence dans les candidatures - celles des débutants notamment, pour qui ces badges sont tout à fait accessibles avec un peu de persévérance comme certains nous l'ont déjà prouvé ! :-)
    %p
      La première promotion débutera 
      %strong en octobre
      et s'achèvera 
      %strong en mars 2014
    %p
      %strong Nous avons déjà sélectionné certains des 150 candidats après la première vague d'entretiens. Mais vous pouvez encore déposer votre candidature : il y aura une session d'entretiens en septembre.
    %p
      Vous avez encore toutes vos chances : saisissez l'opportunité, et candidatez dès maintenant !


    %h2 Simplon.co c'est :

.row
  .large-4.columns
    .panel
      %h3 Un endroit magique, à Montreuil : 225m² dans une ancienne fabrique, à deux pas du métro Croix de Chavaux et à 10 minutes du RER A
  .large-4.columns
    .panel
      %h3 Un programme de formation sur des technologies puissantes sur l'entrepreunariat web
  .large-4.columns
    .panel
      %h3 Une communauté de mentors, de professionnels, d'entreprises, d'associations...

.row
  .large-12.columns
    %img(src="https://dl.dropboxusercontent.com/u/62216/simplon.co%20photos/PANO_20130603_193853.jpg")

.row
  .large-12.columns

    %h2 Qu'est ce que je vais apprendre/faire ?

    %p
      Vous apprendrez à programmer pour le web avec le language de programmation
      %a(href="//fr.wikipedia.org/wiki/Ruby") Ruby
      et le "framework" web
      %a(href="//fr.wikipedia.org/wiki/Ruby_on_Rails") Ruby on Rails
      \. A côté de ça, vous apprendrez une série de technologies et de pratiques du monde de l'entrepreunariat du web, dont :

    %ul
      %li webdesign, ergonomie
      %li base de données
      %li communiquer avec des services web, APIs
      %li administration systèmes, "cloud" (Heroku, Amazon AWS)
      %li outils de collaboration entre développeurs (Git, Github)

    %p Ne vous inquiétez surtout pas si ces termes ne vous disent pas grand chose. C'est pour apprendre que vous venez ici, et nous vous assurons qu'ils deviendrons rapidement familiers.


    %h2 Simplon.co en quelques mots

    %p Simplon.co est un programme de 6 mois, mi-formation et mi-incubation.

    %ul
      %li un apprentissage intensif, immersif de la programmation web, ouvert au débutants, basé sur des projets réels (le vôtre ou d'autres)
      %li une double priorité donnée aux projets numériques liés à l'intérêt général, à léducation et à l'économie sociale et solidaire, et aux personnes qui sont issues de milieux modestes, des quartiers populaires, de la diversité...
      %li un endroit où il fait bon passer du temps, avec une bibliothèque, un espace détente, une cuisine, etc.

    %h2 Pourquoi faire Simplon.co ?

    %p Pour créer votre projet web en apprenant de la manière la plus efficace qui soit : en faisant. Chaque jour, nous commencerons par une intro d'environ 1h à un nouveau concept technique, suivi d'un exercice. La plupart du temps, vous travaillerez par groupe de 2 (en "pair programming", une pratique très répandue dans le monde du développement logiciel). L'après-midi, vous travaillerez sur votre propre projet, nous serons là pour vous accompagner à le concevoir, le coder, rencontrer des utilisateurs, des professionnels du domaine concerné par votre projet, etc.

    %ul
      %li apprendre à programmer pour le web
      %li réaliser votre projet
      %li vous accompagner dans la partie "entrepreneuriale" de votre projet (positionnement, modèle économique, financement, développement, etc.)

    .alert-box
      %p
        Si vous n'avez pas encore de projet, ce n'est pas grave ! Nous préférerions que vous en ayez un, mais nous avons aussi des partenaires qui ont des projets à proposer, et qui vous intéresseront forcément.

    %h2 Qu'est ce qu'il faut pour faire Simplon.co ?

    %p En quelques mots : être motivé et prêt à passer 6 mois concentrés sur la réalisation d'un projet entrepreunarial. Ce n'est pas facile, et il y aura parfois des frustrations, mais vous pouvez y arriver ! Voici ce qu'on cherche :

    %ul
      %li.has-tip(data-tooltip title="peu importe que vous l'ayez acquis en écoutant de la musique, en regardant des séries ou en jouant à des jeux en réseau.L'essentiel est de bien le comprendre à l'oral comme à l'écrit, il ne s'agit pas de s'exprimer oralement en anglais. C'est indispensable pour progresser vite dans la formation car les matériaux pédagogiques et certaines personnes qui vous accompagneront sur place ou à distance dans votre progression sont anglophones.") bon niveau d'anglais (lu, écrit et compréhension orale)
      %li savoir bien communiquer avec les autres, et travailler en équipe
      %li persévérance
      %li curiosité
      %li.has-tip(data-tooltip title="alias 'système D'") débrouillardise :)

    %h2 Comment postuler

.row
  .large-6.columns
    %h3
      %strong Etape 1 :
      remplir
      %a(href="//simplonco.wufoo.com/forms/etape-1-quelques-questions/") ce formulaire
    %ul
      %li Une description de votre/vos projet(s)
      %li
        Un lien vers le badge "I tried Ruby" sur
        %a(href="//www.codeschool.com/courses/try-ruby") CodeSchool
        (compte gratuit
        %a(href="//www.codeschool.com/users/sign_up?return=%2Fcourses%2Ftry-ruby%2Fgoto") ici
        ) - l'exercice prends environ 1h-1h30
      %li tout ce qu'il y a dans un CV habituel (nom, prénom, date de naissance, expériences pro, etc.)
      %li un paragraphe sur pourquoi vous avez envie d'apprendre à coder (au lieu, par exemple, de chercher un développeur)
  .large-6.columns
    %h3
      %strong Etape 2 :
      un entretien sur place (en juillet-août)
    %p Une entretien d'environ 1h pour mieux se connaître
    %ul
      %li une courte présentation orale de votre projet devant notre jury (3 personnes, l'un d'entre nous, 1 ou 2 personnes de l'extérieur, entrepreneurs, professionnels du domaine, etc.)
      %li écrire un petit programme à deux (nous proposerons un problème, et vous nous guiderez pour résoudre le problème en programmant - nous vous donnons des pistes, à partir de celles-ci vous nous expliquez comment vous vous y prendriez, et on écrit le code). Pas besoin d'être matheux : avec un peu de logique tout le monde peut y arriver.
      %li un petit travail de groupe

.row
  .large-12.columns

    %h2 Au quotidien

    %p Vous travaillerez bien sûr prioritairement sur vos projets, mais vous serez aussi amenés à travailler sur des projets avec d'autres entreprises, des associations, etc., selon vos affinités et centres d'intérêt.

    %script(src="https://gist.github.com/andreivolt/5633343.js")
