.row
  .large-12.columns
    %header
      %p.intro{:lang => "fr"}
        %span.logo Simplon.co
        est une fabrique de codeurs entreprenants. Tous les 5 mois, nous accompagnons 24 personnes socialement et financièrement désavantagées dans l'apprentissage de la programmation, et nous les aidons à monter des startups web.
      %p.intro Simplon.co is a startup factory where we empower entrepreneur-programmers. Every 5 months, we train 24 underprivileged smart people on web development, and help them to build web startups for social good.
    %p.tags
      %span.tag #dojo
      %span.tag #education
      %span.tag #entrepreneurship
      %span.tag #empowerment
      %span.tag #ruby
      %span.tag #rails
      %span.tag #montreuil
.row#highlights
  .large-3.columns
    .highlight
      %p Une formation accélérée et immersive pour 24 têtes bien faites aux profils peu représentés dans le web et l'entreprenariat
  .large-3.columns
    .highlight
      %p Un coaching entrepreneurial et une incubation à moindre risque selon des méthodologies à base scientifique ("LEAN startups")
  .large-3.columns
    .highlight
      %p Une culture et un environnement optimisés, interfacés avec un écosystème riche (domaine de l'éducation et du durable)
  .large-3.columns
    .highlight
      %p Une fabrique se codeurs entreprenants, ouverte sur le monde, sur un modèle réplicable et auto-alimenté
.row#apply
  .large-6.columns
    %h2 Candidatez !
    %p
      Pas besoin de savoir programmer pour faire partie de l'aventure Simplon.co. Ni d'avoir de diplôme en particulier. Il suffit d'avoir certaines capacités personnelles, et de passer quelques étapes en ligne.
      Découvrez dès maintenant
      %a{:href => "/recrutement"} ce qu'est exactement Simplon.co, et comment candidater !

  .large-6.columns#building
    %img(src="https://dl.dropboxusercontent.com/u/62216/simplon.co%20photos/building/PANO_20130413_113533.jpg")
    %p #workinprogress ;)
.row#team
  .large-12.columns
    %h2 L'équipe Simplon.co
    .row
      .large-2.columns
        %img(src="https://dl.dropboxusercontent.com/u/62216/simplon.co%20photos/team/andrei.jpg")
        %p.name Andrei Vladescu-Olt
        %p #formation #communauté #tech
      .large-2.columns
        %img(src="https://dl.dropboxusercontent.com/u/62216/simplon.co%20photos/team/erwan.jpg")
        %p.name Erwan Kezzar
        %p #training #projects #UX
      .large-2.columns
        %img(src="https://dl.dropboxusercontent.com/u/62216/simplon.co%20photos/team/fred.jpg")
        %p.name Frédéric Bardeau
        %p #bizdev #entrepreneurship #coaching
      .large-2.columns
        %img(src="https://dl.dropboxusercontent.com/u/62216/simplon.co%20photos/team/victor.jpg")
        %p.name Victor Defontaine
        %p #training #sysadmin #internal-tools
      .large-2.columns
        .placeholder
        %p.name 24 hackers
        %p #moteursduchangement
        %p #super-héros
        %p #Mac-Gyvers
      .large-2.columns
        .placeholder
          %p Vous?
        %p.name ... et plein d'amis
        %p #partners #mentors #friends
.row#social
  .large-6.columns
    %h2 Quoi de neuf + ce qui nous intéresse
    %a.twitter-timeline{"data-widget-id" => "328855688833015808", :href => "https://twitter.com/simplonco"} Tweets by @simplonco
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  .large-6.columns
    %h2 Ce que nous sommes en train de faire
    %p
      Tout est sur
      %a{:href => "//simplonco.tumblr.com"} Tumblr
      \;-)
.row#contact
  .large-6.columns
    %h2 Contactez la famille Simplon.co
    %p Avec une force de frappe de 24 développeurs Ruby, Simplon.co est une sorte d'"entreprise-API" qui peut s'interfacer avec beaucoup d'entités très différentes, créer des choses fantastiques, et qui ne demande qu'à échanger autour d'idées porteuses de changement pour le meilleur :
 
    %ul
      %li partenariats sur projets, sponsoring, innovation déléguée
      %li mise à l'épreuve de concepts
      %li interventions chez nous sur vos expertises de domaines
      %li empowerment et outillage d'acteurs de terrain
      %li pair-programming à distance avec les simploniens
      %li autres possibilités auxquelles nous n'avons pas encore pensé
    %h2 Engageons la conversation !
  .large-6.columns
    .panel
      %p 
      **NB à l'attention des candidats : pour mener à bien votre candidature, il faut avant tout que vous suiviez les étapes décrites dans la page recrutement.**

      **Chacun doit être à égalité sur les candidatures : c'est pourquoi nous ne répondrons pas aux sollicitations sur ce sujet.**
    .row
      .large-6.columns
        %p
          %a{:href => "mailto:inbox@simplon.co"} inbox@simplon.co
          %br
          %a{:href => "//twitter.com/simplonco"} @simplonco
          %br
          %a{:href => "//simplonco.tumblr.com"} Tumblr
