.row
  .large-12.columns
    %header
      %p.intro{:lang => "fr"}
        %span.logo Simplon.co
        est une fabrique de codeurs entreprenants. Tous les 5 mois, nous accompagnons 24 jeunes issues de milieux défavorisés dans l'apprentissage de la programmation, et nous les aidons à monter des startups web.
      %p.intro Simplon.co is a startup factory where we empower entrepreneur-programmers. Every 5 months, we train 24 underpriviliged smart people on web development, and help them to build web startups for social good.
    %p.tags
      %span.tag #dojo
      %span.tag #education
      %span.tag #entrepreneurship
      %span.tag #empowerment
      %span.tag #ruby
      %span.tag #rails
      %span.tag #montreuil
.row#highlights
  .large-3.columns
    .highlight
      %p An immersive accelerated training program on web development for 24 smart underprivileged beginners
  .large-3.columns
    .highlight
      %p LEAN startup entrepreneurship coaching and incubation for projects boostrapped during the program
  .large-3.columns
    .highlight
      %p An environment and culture designed to interface with a rich ecosystem of external fertilizers (in the field of education and social good)
  .large-3.columns
    .highlight
      %p A API-ike factory for social good innovation, on a replicable and self-perpetuating model
.row#apply
  .large-6.columns
    %h2 Want to apply?
    %p You do not need to have ever programmed to be part of the Simplon.co adventure. Nor you need any diploma. We're looking for certain qualities and you will need to pass some online ntests. Discover now [what living with Simplon.co exactly is, and how you can apply]
  .large-6.columns#building
    %img(src="https://dl.dropboxusercontent.com/u/62216/simplon.co%20photos/building/PANO_20130413_113533.jpg")
    %p #workinprogress ;)
.row#team
  .large-12.columns
    %h2 The Simplon.co team
    .row
      .large-2.columns
        %img(src="https://dl.dropboxusercontent.com/u/62216/simplon.co%20photos/team/andrei.jpg")
        %p.name Andrei Vladescu-Olt
        %p #training #community #tech
      .large-2.columns
        %img(src="https://dl.dropboxusercontent.com/u/62216/simplon.co%20photos/team/erwan.jpg")
        %p.name Erwan Kezzar
        %p #training #projects
      .large-2.columns
        %img(src="https://dl.dropboxusercontent.com/u/62216/simplon.co%20photos/team/fred.jpg")
        %p.name Frédéric Bardeau
        %p #bizdev #entrepreneurship
      .large-2.columns
        %img(src="https://dl.dropboxusercontent.com/u/62216/simplon.co%20photos/team/victor.jpg")
        %p.name Victor Defontaine
        %p #training #sysadmin #tools
      .large-2.columns
        .placeholder
        %p.name 24 arising hackers
        %p engines of the future
      .large-2.columns
        .placeholder
          %p You?
        %p.name ... and many friends
        %p #partners #mentors #friends
.row#social
  .large-6.columns
    %h2 What's up right now? + What interests us
    %a.twitter-timeline{"data-widget-id" => "328855688833015808", :href => "https://twitter.com/simplonco"} Tweets by @simplonco
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  .large-6.columns
    %h2 What we've been up to
    %p
      It's all on
      %a{:href => "//simplonco.tumblr.com"} Tumblr
      \;-)
.row#contact
  .large-6.columns
    %h2 Contact us
    %p Simplon.co is a kind of API company that can work on numerous interesting projects, create many wonderful things, and that craves for brainstorming on paradigm-changing ideas.
    %ul
      %li remote pair programming
      %li interventions from domain experts
      %li project partnerships, incubated startup funding
      %li crash-testing prototypes
      %li possibilities we do not even thought of yet
    %h2 Let's start the conversation!
  .large-6.columns
    .panel
      %p NB to applicants : if you want to apply, you first have to follow the steps explained [in the recruitment section] ! Everyone should be equal on applications : so we won't answer direct requests on that subject.
    .row
      .large-6.columns
        %p
          %a{:href => "mailto:inbox@simplon.co"} inbox@simplon.co
          %br
          %a{:href => "//twitter.com/simplonco"} @simplonco
          %br
          %a{:href => "//simplonco.tumblr.com"} Tumblr
      .large-6.columns
        %p
          Andrei: +33 6 13 71 67 66
          %br
          Erwan: +33 6 23 04 66 63
          %br
          Fred: +33 6 64 63 43 92
