.row
  .large-12.columns
    %header
      %p.intro{:lang => "fr"}
        %span.logo Simplon.co
        Vous avez un projet ? Le code vous permettrait de le réaliser ? Candidatez sur
        %a{:href => "/recrutement"} notre page "Recrutement" !
        Située à Montreuil (93), Simplon.co est une fabrique accélérée de développeurs web, vouée à accompagner des porteurs de projets numériques sociaux, solidaires et/ou éducationnels. Prioritairement tournée vers les débutants et les profils sous-représentés dans l'entreprenariat et le web (les filles et les jeunes des quartiers populaires notamment), Simplon.co rémunèra ceux dont la situation financière pourrait s'avérer bloquante. 
      %p.intro Simplon.co is a dev bootcamp and startup factory where we empower entrepreneur-programmers. Every 6 months, we train underprivileged and begginer smart people on web development, and help them to build web startups for social good.
    %p.tags
      %span.tag #dojo
      %span.tag #education
      %span.tag #entrepreneurship
      %span.tag #empowerment
      %span.tag #ruby
      %span.tag #rails
      %span.tag #montreuil

.row#highlights
  .large-3.columns
    .box
      %p Une formation accélérée, immersive et rémunérée pour des porteurs de projets et des profils peu représentés dans le web et l'entreprenariat
  .large-3.columns
    .box
      %p Un coaching entrepreneurial et une incubation à moindre risque selon des méthodologies à base scientifique ("LEAN startup")
  .large-3.columns
    .box
      %p Une culture et un environnement privilégiés et interfacés avec un écosystème riche (digital, éducation, ONG, ESS)
  .large-3.columns
    .box
      %p Une fabrique de codeurs entreprenants, ouverte sur le monde, sur un modèle réplicable et auto-alimenté
.row#apply
  .large-6.columns
    %h2 Candidatez !
    %p
      Pas besoin de savoir programmer ni d'avoir de diplôme particulier pour faire partie de l'aventure Simplon.co. Il suffit d'avoir certaines capacités personnelles, et de passer quelques étapes en ligne.
      %a{:href => "/recrutement"} Découvrez dès maintenant ce qu'est exactement Simplon.co, et comment candidater !

  .large-6.columns#building
    %img(src="https://dl.dropboxusercontent.com/u/62216/simplon.co%20photos/building/PANO_20130413_113533.jpg")
    %p #workinprogress ;)
.row#team
  .large-12.columns
    %h2 L'équipe Simplon.co
    .row
      .large-2.columns
        %img(src="https://dl.dropboxusercontent.com/u/62216/simplon.co%20photos/team/andrei.jpg")
        %p.name Andrei Vladescu-Olt
        %p #formation #communauté #tech
      .large-2.columns
        %img(src="https://dl.dropboxusercontent.com/u/62216/simplon.co%20photos/team/erwan.jpg")
        %p.name Erwan Kezzar
        %p #training #projects #UX
      .large-2.columns
        %img(src="https://dl.dropboxusercontent.com/u/62216/simplon.co%20photos/team/fred.jpg")
        %p.name Frédéric Bardeau
        %p #bizdev #entrepreneurship #coaching
      .large-2.columns
        %img(src="https://dl.dropboxusercontent.com/u/62216/simplon.co%20photos/team/victor.jpg")
        %p.name Victor Defontaine
        %p #training #sysadmin #internal #tools
      .large-2.columns
        .placeholder
        %p.name 24 hackers
        %p #changerlemonde
        %p #superhéros
        %p #MacGyvers
      .large-2.columns
        .placeholder
          %p Vous?
        %p.name ... et plein d'amis
        %p #partners #mentors #friends
.row#social
  .large-6.columns
    %h2 Quoi de neuf et ce qui nous intéresse
    %a.twitter-timeline{"data-widget-id" => "328855688833015808", :href => "https://twitter.com/simplonco"} Tweets by @simplonco
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  .large-6.columns#tumblr
    %h2 Ce que nous sommes en train de faire
    %p
      Tout est sur
      %a{:href => "//simplonco.tumblr.com"} Tumblr ;-)
.row#contact
  .large-6.columns
    %h2 Contactez la famille Simplon.co
    %p Avec une force de frappe de 24 développeurs Ruby, Simplon.co est une sorte d'"entreprise-API" qui peut s'interfacer avec beaucoup d'entités très différentes, créer des choses fantastiques, et qui ne demande qu'à échanger autour d'idées porteuses de changement pour le meilleur :
 
    %ul
      %li partenariats sur projets, sponsoring, innovation déléguée
      %li mise à l'épreuve de concepts
      %li interventions chez nous sur vos expertises de domaines
      %li empowerment et outillage d'acteurs de terrain
      %li pair-programming à distance avec les simploniens
      %li autres possibilités auxquelles nous n'avons pas encore pensé
  .large-6.columns
    .panel
      %p 
        NB à l'attention des candidats : pour mener à bien votre candidature il faut avant tout que vous suiviez les étapes décrites dans
        %a{:href => "/recrutement"} la page recrutement.
        Chacun doit être à égalité sur les candidatures : c'est pourquoi nous ne répondrons pas aux sollicitations sur ce sujet.
    %p
      %a{:href => "mailto:inbox@simplon.co"} inbox@simplon.co
      %br
      %a{:href => "//twitter.com/simplonco"} @simplonco
      %br
      %a{:href => "//simplonco.tumblr.com"} Tumblr
    %h2 Engageons la conversation !
    %form{:action => "http://simplon.us7.list-manage.com/subscribe/post?u=5ae60e696c9630563d135f98a&amp;id=2bcfcc8ac5", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
      %h3 Inscrivez-vous à notre newsletter
      .row.collapse
        %label{:for => "mce-EMAIL"}
        .small-9.columns
          %input#mce-EMAIL{:name => "EMAIL", :placeholder => 'email', :type => "email", :value => ""}
        .small-3.columns
          %input.button.small{:name => "subscribe", :type => "submit", :value => "Je m'abonne"}
