!!!
%html
  %head
    %title Simplon.co, fabrique de codeurs entreprenants
    %link{:href => "http://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans+Condensed:300,700&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}/
    %meta{:charset => "utf-8"}/
    %link{:href => "http://yui.yahooapis.com/3.9.1/build/cssreset/cssreset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/styles.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/app.css", :rel => "stylesheet", :type => "text/css"}/
    %meta(name="viewport" content="width=device-width")
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39912989-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %script(type="text/template" id="tpl-tumblr-post")
      :plain
        <% if(typeof title !== 'undefined' && title){ %>
          <h3>
            <a href="<%= post_url %>"><%= title %></a>
          </h3>
        <% } %>
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"}
    %script{:src => "//documentcloud.github.com/underscore/underscore-min.js"}
    %script{:src => "//backbonejs.org/backbone-min.js"}
    %script{:src => "/javascripts/tumblr.js"}
    :javascript
      tumblr = {};
      $(document).ready(function(){
        tumblr.collection = new Tumblr({
          hostname: 'simplonco.tumblr.com',
          params: {
              api_key: 'kY29KXWiSfuGqBfG95nWD6xNRiMztR4118GOYZFkfKECJrM2Cr'
             ,limit: 10
          }
        });
        tumblr.view = new TumblrView({
          el: '#tumblr',
          collection: tumblr.collection
        });
        tumblr.collection.page();
      });
  %body{class: "#{body_class}"}
    .contain-to-grid.fixed
      .row
        .large-12
          %nav.top-bar
            %ul.title-area
              / Title Area
              %li.name
                %h1
                  %a{:href => "/"} Simplon.co
            %section.top-bar-section
              / Right Nav Section
              %ul.right
                %li
                  %a(href="/recrutement") Recrutement
                %li
                  %a(href="/presse") Espace presse
                %li
                  %a(href="/en") In English
    .row#content
      .large-12.columns
        = yield
