%header
  .row
    .large-12.columns
      %h1 Offre de formation (DIF, PEF)
      %p Texte d'intro

  .row
    .large-12.columns
      %h2 Des formations pour tout le monde
      %p.asterix Toutes les formations sont éligibles au DIF et au PEF
      %h3.sous-titre Consultez les formations conseillées pour votre poste:
      %ul.publics
        %li.public1 Dirigeants
        %li.public2 Chefs de projet, consultants
        %li.public3 Planneurs, créatifs
        %li.public4 Directeurs techniques
        %li.public5 Formation, reconversion professionnelle
        %li.public6 Enfants (accompagnés)
        %li.public7 Développeurs (migration, pérfectionnement)


  .row
    .large-4.columns.formations-excerpt
      <!-- Formations 1 jour -->
      %h2 Formations en 1 jour
      %ul.formations
        -# = Pour ajouter l'aperçu d'une formation:
              * Copiez ce qui suit (A partir du %li jusqu'au saut de ligne suivant).
              * Collez le à la suite ( après le saut de ligne ).
              * Editer les contenus sans modififer l'architecture (ne pas changer la
                place des elements commenceants par % , ni leur inentation.
        %li.public2
          %h3 Initiation à la programmation web 
          %p.intro 8h, c'est le temps qu'il vous faudra pour découvrir la programmation web, et bâtir un clone de Twitter.
          %h4 Ce que vous allez apprendre:
          %ul
            %li Programmer une application web
            %li Mettre en ligne une application web
            %li Utiliser les outils d'un développeur web
          %a{:href => "http://simplonco.wufoo.com/forms/q7x4a9/"} S'inscrire
          %a{:href => "/landing/sc_twitter"} Plus info

        %li
          %h3 Recruter un développeur 
          %p.intro 8h, c'est le temps qu'il vous faudra pour découvrir la programmation web, et bâtir un clone de Twitter.
          %h4 Ce que vous allez apprendre:
          %ul
            %li Programmer une application web
            %li Mettre en ligne une application web
            %li Utiliser les outils d'un développeur web
          %a{:href => "http://simplonco.wufoo.com/forms/q7x4a9/"} S'inscrire
          %a{:href => "/landing/sc_twitter"} Plus info


    .large-4.columns.formations-excerpt
      <!-- Formations 3 jour -->
      %h2 Formations en 3 jour
      %ul.formations
        -# = Pour ajouter l'aperçu d'une formation:
              * Copiez ce qui suit (A partir du %li jusqu'au saut de ligne suivant).
              * Collez le à la suite ( après le saut de ligne ).
              * Editer les contenus sans modififer l'architecture (ne pas changer la
                place des elements commenceants par % , ni leur inentation.
        %li.public3.public2
          %h3 Initiation à la programmation web 
          %p.intro 24h, c'est le temps qu'il vous faudra pour découvrir la programmation web, et bâtir un clone de Twitter.
          %h4 Ce que vous allez apprendre:
          %ul
            %li Programmer une application web
            %li Mettre en ligne une application web
            %li Utiliser les outils d'un développeur web
          %a{:href => "http://simplonco.wufoo.com/forms/q7x4a9/"} S'inscrire
          %a{:href => "/landing/sc_twitter"} Plus info
          
        %li.public3.public2
          %h3 Dataviz et APIs 
          %p.intro Découvrir les possibilités offertes par la dataviz et des API à partir de vos jeux de données et de celles qui sont publiques.
          %h4 Ce que vous allez apprendre:
          %ul
            %li Les jeux de données
            %li Les librairies de visualisation
            %li La manipulation des API (Twitter, Google Maps)...
          %a{:href => "http://simplonco.wufoo.com/forms/z7x4m1/"} S'inscrire
          
    .large-4.columns.formations-excerpt
      <!-- Conferences et dataviz -->
      %h2 Conférences et ateliers 
      %ul.formations
        -# = Pour ajouter l'aperçu d'une formation:
              * Copiez ce qui suit (A partir du %li jusqu'au saut de ligne suivant).
              * Collez le à la suite ( après le saut de ligne ).
              * Editer les contenus sans modififer l'architecture (ne pas changer la
                place des elements commenceants par % , ni leur inentation.
        %li.public2.public3
          %h3 Histoire de la programmation  
          %p.intro 8h, c'est le temps qu'il vous faudra pour découvrir la programmation web, et bâtir un clone de Twitter.
          %h4 Ce que vous allez apprendre:
          %ul
            %li Les langages de programmation
            %li L'émergence des applications web
            %li Utiliser la programmation pour agir sur le web
          %a{:href => "http://simplonco.wufoo.com/forms/q7x4a9/"} S'inscrire
          %a{:href => "/landing/sc_twitter"} Plus info

        %li.public2.public3
          %h3 Spécifier et piloter la réalisation d'un développement d'application
          %p.intro Comprendre la programmation pour mieux imaginer des solutions, pour optimiser le briefing, le pilotage et la réalisation d'un projet d'application web ou mobile.
          %h4 Ce que vous allez apprendre:
          %ul
            %li Utiliser la programmation de manière créative
            %li Spécifier et traduire vos besoins
            %li Mener à bien votre projet en lien avec les développeurs
          %a{:href => "http://simplonco.wufoo.com/forms/z7x4m1/"} S'inscrire

  .row
    %h3.sous-titre Trois approches pédagogiques differentes 
    .large-4.columns
      %h4 Approche séquentielle et progressive
      %p Culture technique, tour d'horizon global et zoom sur les points clés d'une démarche applicative utilisant la programmation : voilà le cadre.
    .large-4.columns
      %h4 Approche par la réalisation d'outils
      %p Cloner Twitter, créer une serveur de bannière, créer une visualisation de données ou programmer une application simple. C'est en faisant qu'on apprend.
    .large-4.columns
      %h4 Approches pédagogiques scénarisées
      %p Vous avez une idée ou un projet : elle peut servir de base à la formation, c'est encore plus facile et utile que d'imaginer quelque chose.



:javascript
  $(document).ready(function(){
    $('.publics > li').on('click',function(){
      var public = $(this).attr('class');
      var toshow = $('.formations > li.'+public+':hidden');
      var tohide = $('.formations > li:not(.'+public+')');
      tohide.fadeOut(100);
      toshow.fadeIn(100);
    });
  });
