%header
  .row
    .large-12.columns
      %h2.subheader Nous avons tout un tas de besoins pour mener notre initiative à bien, mais également énormément de choses à très forte valeur ajoutée à proposer
%section#intro
  .row
    .large-12.columns
      %h1 Préambule: ce qui rend possible les trois scénarii ci-dessous - NB : ceci n'est pas de la science-fiction :-)

%section
  .row
    .large-12.columns
      %ul
        %li Les recrues de Simplon.co sont des profils à fort potentiel dans le domaine de la programmation, séléctionnés sur un mode de recrutement qui passe par des premiers tests de développement web en ligne, puis par un série d'étapes en présentiel (entretien face à un jury => test d'apptitude et de logique sur un problème programmatique => collaboration avec d'autres candidats sur un projet au cours d'une après midi (profiling sur la capacité à travailler en équipe)).
        %li Dès les premières semaines, les recrues de Simplon.co seront opérationnelles sur Ruby on Rails, technologie puissante qui permet de construire un large panel de fonctionnalités rapidement, et simplifie la réalisation de sites et d'applications par l'utilisation de briques pré-existantes, qui n'en demeurent pas moins flexibles et interconnectables.
        %li La pédagogie de Simplon.co, sur un mode intensif, accéléré, et avec 80% de pratique, a déjà été éprouvée dans d'autres pays. La preuve: il y a même des structures qui forment des débutants en 9 semaines sur Ruby on Rails, qui deviennent des "world-class beginners" opérationnels et autonomes sont embauchés à 90% à la sortie (par des entreprises comme Twitter, Groupon, Living Social, etc) NB: les recrues devront se consacrer à 110% à la formation, intensive et immersive. C'est pourquoi les recrues qui auraientdes besoins financiers bloquants seront rémunérés.

  .row
    .large-12.columns
      .large-4.columns
        .subbox
          %h3 Scénario 1
          %p Répondre à vos besoins techniques à moindre coût tout en changeant la vie d'un talent que vous pourrez engager en toute confiance
          %strong Votre engagement:
          %ul
            %li nous vous présentons notre catalogue de profils à fort potentiel triés sur le volet
            %li vous en séléctionnez un et l'embauchez en contrat de professionnalisation pendant 6 mois (40 à 80% du SMIC, dont une partie est prise en charge par les OPCA)
            %li vous nous payez xx€ (dont 15€/heure prise en charge par les OPCA) pour sa formation
          %strong Vos avantages:
          %ul
            %li vous faites réaliser des besoins téchniques par une recrue opérationnelle (dès les premières semaines sur des tâches de compléxité moyenne)
            %li vous pouvez recruter un salarié que vous connaissez déjà bien et qui vous connait bien au terme des 6 mois de formations
            %li vous bénéficiez de la force de conception et d'innovation de l'écosystème Simplon.co (experts domaines, partenaires téchniques, communauté newtech, etc)
            %li vous concrétisez la carrière d'un profil à fort potentiel qui a manqué d'opportunités auparavant, et changez sa vie par l'innovation
      .large-4.columns
        .subbox
          %h3 Scénario 2
          %p Réaliser un projet avec Simplon.co ("innovation déléguée"), en contribuant à financer la formation d'un porteur de projet éthique et/ou éducationnel
          %strong Votre engagement
          %ul
            %li votre entreprise a un projet en interne (site, application, intranet, etc), et vous avez besoin d'un préstataire pour le concevoir de manière innovante et le réaliser
            %li vous sponsorisez une ou plusieurs recrues de Simplon.co, backées par l'équipe de Simplon.co et sont écosystème d'innovation.
            %li vous contribuez ainsi à financer la rémunération des recrues concernées, ainsi qu'une partie des frais de fonctionnement de l'initiative Simplon.co
          %strong Vos avantages
          %ul
            %li vous bénéficiez de l'expertise d'une équipe élargie, et réduisez vos coûts en contrepartie de délais plus longs - 6 mois sachant que dans le cadre d'une prestation classique les échéances sont rarement tenues, comme chacun sait :-)
            %li vous apprenez à connaître les recrues qui réalisent votre projet, et pouvez poursuivre la relation à l'issue des 6 mois (préstations, embauche) en toute confiance
      .large-4.columns
        .subbox
          %h3 Scénario 3
          %p Devenir partenaire de Simplon.co, avec tout ce que la force du code et de l'écosystème permet!
          %strong En vrac
          %ul
            %li Parier sur l'un des projets numerique dans l'éducation, l'innovation sociale et/ou l'économie sociale et solidaire de nos candidats porteurs de projets, et financer leur accompagnement sur le mode qui parîtra le plus avantageux pour tous (communication, prise de participation, co-création du projet, etc)
            %li Organiser des événements et ateliers autour des thématiques données, et s'interface avec un environnement propice à la conception - production rapide (hackatons, brainstorming + réalisation, optimisation de services par les méthodes lean startups, etc)
            %li
              Initier vos salariés à des compétences techniques (chefs de projet, créatifs managers, forces de proposition, communicants, etc ) dans le cadre de formations courtes redoutablement efficaces pour:
              %ol
                %li favoriser la communication et la collaboration avec des équipes techniques
                %li rendre plus innovante et plus réaliste les forces de proposition en projets innovants en interne
            %li devenir sponsor et changer le destin de nos candidats à fort potentiel, que nou, que nous ne pouvons pas tous rémunérer mais qui manquent de ressources financières et d'opportunités. Tout simplement
            %li et tout un tas de choses auxquelles nous n'aurions pas encore pensé!
