%header
  .row
    .large-12.columns
      %h2.subheader entreprise, association, start up, collectivités...Collaborer avec Simplon.co
%section#intro
  .row
    .large-12.columns
      %h1 Soutenez une recrue et faîtes du web votre allié. 
%section
  .row
    .large-12.columns
      %ul
        %li Les recrues de Simplon.co sont séléctionnées sur leurs capacités d'apprentissage et d'innovation. 
        %li La pédagogie et les technologies enseignées les rendent opérationnel dès les permières semaines. 
        %li 

  .row
    .large-12.columns
      .large-4.columns
        .subbox
          %h3 Scénario 1
          %p Un accompagnement technique sur mesure 
          %strong Votre engagement
          %ul
            %li Vous embauchez en contrat de professionnalisaiton de 12 mois une recrue selectionneé pour vous par l'équipe encadrante
            %li vous nous payez le prix de la formation
            %li 
          %strong Vos avantages:
          %ul
            %li vous déléguez vos démarches techniqes dès les premières semaines
            %li vous apprenez à travailler avec une recrue que vous pouvez embaucher au terme de sa formation 
            %li vous bénéficiez de la force de conception et d'innovation de l'écosystème Simplon.co, dans le web et le hors-média
            %li une partie de votre engagement financier est prise en charge par votre OPCA
      .large-4.columns
        .subbox
          %h3 Scénario 2
          %p Assurez la réalisaiton de votre projet numérique 
          %strong Votre engagement 
          %ul
            %li vous financez la formation d'une ou de plusieurs recrues
           
          %strong Vos avantages
          %ul
            %li vous bénéficiez de l'expertise, de l'accompagnement et de la réalisation de votre projet par une partie déléguée des équipes Simplon.co
            %li vous réalisez un projet d'excellence à des tarifs particulièrement compétitifs
            %li vous établissez une relation de proximité avec les équipes techniques et pouvez recruter un apprenti à la fin de sa formation 
      .large-4.columns
        .subbox
          %h3 Scénario 3
          %p Devenez des partenaires privilégiés 
          %strong 
          %ul
            %li Financez et accompagnez l'un des projets incubés 
            %li Organisez des événements dans notre local de 250 m2 
            %li 
               Apprenez à mobiliser aisément les outils techniques en initiant vos salariés à la programmation. 
            %li Assurez un accompagnement professionnel à une recrue
            %li Parlons en: vos propositions sont les bienvenues. 
