%header
  .row
    .large-12.columns
      %h2.subheader Interagir avec Simplon.co quand on est une entreprise, une association, une collectivité, une startup...
%section#intro
  .row
    .large-12.columns
      %h1 Découvrez comment les recrues, les projets et l'écosystème Simplon.co peut changer votre organisation en plaçant la force du développement web de votre côté !

%section
  .row
    .large-12.columns
      %ul
        %li Les recrues de Simplon.co sont des profils à fort potentiel dans le domaine de la programmation, séléctionnés pour leur motivation et sur la base de tests de logique et d'approche des problèmes
        %li Dès les premières semaines, les recrues de Simplon.co seront opérationnelles et peuvent construire des sites et des applications mobiles dont les fonctionnalités couvrent 90% des besoins d'une organisation
        %li La pédagogie de Simplon.co, sur un mode intensif, accéléré, et avec 80% de pratique sur des projets réels (personnels ou soumis par les partenaires) est déjà largement répandue aux Etats-Unis et un peu partout en Europe

  .row
    .large-12.columns
      .large-4.columns
        .subbox
          %h3 Scénario 1
          %p Répondre à vos besoins techniques à moindre coût et changer la vie d'un talent que vous pourrez engager en toute confiance : c'est ça que nous vous proposons
          %strong Votre engagement :
          %ul
            %li nous vous présentons notre catalogue de profils triés sur le volet
            %li vous en séléctionnez un et l'embauchez en contrat de professionnalisation pendant 12 mois
            %li vous nous payez le prix de la formation et une partie de ce coût est prise en charge par votre OPCA
          %strong Vos avantages :
          %ul
            %li vous faites réaliser des besoins téchniques par une recrue opérationnelle dès les premières semaines
            %li vous pouvez recruter un salarié que vous connaissez déjà bien au terme des 6 mois de la formation
            %li vous bénéficiez de la force de conception et d'innovation de l'écosystème Simplon.co
            %li vous concrétisez la carrière d'un profil à fort potentiel 
      .large-4.columns
        .subbox
          %h3 Scénario 2
          %p Réaliser un projet avec Simplon.co ("innovation déléguée"), en contribuant à financer la formation d'un porteur de projet 
          %strong Votre engagement :
          %ul
            %li votre entreprise a un projet en interne (site, application, service, etc), et vous avez besoin d'un préstataire pour le concevoir de manière innovante et le réaliser
            %li vous sponsorisez une ou plusieurs recrues de Simplon.co, encadrées par l'équipe de Simplon.co
            %li vous contribuez à financer la formation des recrues concernées et le modèle Simplon.co
          %strong Vos avantages :
          %ul
            %li vous bénéficiez de l'expertise d'une équipe élargie, et réduisez vos coûts sans perdre en agilité et en délais de réalisation comme un projet "école" ou "junior entreprise"
            %li vous apprenez à connaître les recrues qui réalisent votre projet, et pouvez poursuivre la relation, voire l'embaucher à l'issue des 6 mois, ce en toute confiance
      .large-4.columns
        .subbox
          %h3 Scénario 3
          %p Devenir partenaire de Simplon.co c'est mettre la force du code et tout un écosystème à votre service !
          %strong Contreparties :
          %ul
            %li Parier sur l'un des projets numériques de nos porteurs de projets, et financer son accompagnement
            %li Organiser des événements de type hackathons, workshops, séminaires...
            %li 
              Initier vos salariés à la programmation dans le cadre de formations courtes pour favoriser la communication et la collaboration avec des équipes techniques et rendre plus innovante et plus réaliste les projets innovants en interne
            %li devenir sponsor et changer le destin de nos candidats à fort potentiel, que nou, que nous ne pouvons pas tous rémunérer mais qui manquent de ressources financières et d'opportunités. Tout simplement
            %li et tout un tas de modalités auxquelles nous n'aurions pas encore pensé !

%section
  .row
    .large-12.columns
    <iframe src="https://docs.google.com/presentation/d/1NtQLpxS0mVCb84rtBS7l2qSXQXvkbeQIj-VDZvQHaEg/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
