%header
  .row
    .large-12.columns
      %h1 Découvrir la programmation par le cont

%section#intro
  .row
    .large-12.columns
      %h1 Ce que vous allez découvrir
      %p Compléxité des mots, vocabulaire curieux voire rigolo, famille de langage et spécificités des uns par rapport aux autres, la programmation est un monde qui relève presque de la ficiton pour les néophytes. C’est fort de ce constat 
%section#technos
  .row
    .large-12.columns
      %h2 programme de la journée
      %p Vous allez suivre l’histoire de couni le petit programme à travers ses aventures pour trouver l’amour et l’aider à parvenir au bout de ses aventures 
      %ul
        %li 9h : lecture du premier chapitre des aventures de couni le petit processeur
        %li aider couni à résoudre une énigme 
        %li chapitre 2
        %li énigme
        %li chapitre 3
        %li pause déjeuner et échange
        %li
          chapitre 4
          %img(src="https://photos-3.dropbox.com/t/0/AABriD_NSlfP4vArlbSIpSyeLwfJQ0u9xEFL6snFZlT2Yg/12/162715477/png/32x32/3/_/1/2/try-ruby-pics.png/mKs7xQxVzVxxJUiCmsR2S8Qs2H87XPZ5dPUWaDYCWbM?size=1024x768")
      %h2 A la fin de cette découverte vous
      %ul
        %li serez capables de comprendre quels sont les principaux composants de la programmation 
        %li pourrez avoir une discussion constructive autour 
        %li repartiez avec le livre racontant l’aventure de couni et un manuel pour aller plus loin dans la découverte de la programmation 

      %h2 Ou? Qui?
      %p Pour les adultes et leurs enfants. Appuyé sur sa dimension narative, cette formation entre de plein pied dans la compléxité du langage de la programmation qui peuvent venir accompagner de leurs enfants.

      %h2 Pourquoi?
      %p 2011 et 2012 on vu la naissance et le développement d'un mouvement international pour l'apprentissage de la programmation.
      Nous sommes convaincus que la découverte et l’appropriation de la programmation passe par des méthodes d’enseignement nouvelles qui utilisent pleinement le potentiel et la richesse des outils étudiés. Le conte est un support idéal pour réaliser cette performance.
