.alert-box
  :markdown
    ### **NB**: cette page est vouée à évoluer en fonction des retours que nous recevrons, tant sur la forme que sur les étapes de candidature.

    * [Si vous avez des suggestions, nous sommes preneurs !](mailto:inbox@simplon.co)
    * si vous souhaitez candidater, inutile de nous contacter par mail ou par téléphone. Tout le monde doit être à égalité dans le cadre du recrutement, et passer les étapes décrites plus bas.

:markdown

  Avant tout, quelques petits mots d'intro.
  -----------------------------------------

  **Simplon.co est une formation d'un nouveau genre, qui n'est pas une école à proprement parler.** Il s'agit davantage d'un "camp d'entraînement", comme les formations similaires aiment à le présenter dans d'autres pays (les "bootcamps").
  
  **Un entraînement intensif, immersif, qui dure au moins 6 mois**, qui est ouvert aux débutants en informatique mais qui vous demandera d'être entièrement dévoué à l'apprentissage du développement web et des "tours de magie" qu'il vous permettra de réaliser dès les premiers jours.
  
  **Un parcours qui s'adresse aux porteurs de projets numériques sociaux et solidaires et à ceux qui en ont le plus besoin** (situation financière, familiale et scolaire, ZUS, zones rurales enclavées, etc.) ou qui sont sous-représentés dans l'entreprenariat et les métiers du web (parité filles-garçons, seniors, handicap, etc. ).
  
  **Un entraînement qui vous donnera l'opportunité d'apprendre par vous-mêmes en vous fournissant des ressources humaines et pédagogiques à forte valeur ajoutée (voir l'équipe) et un confort de travail optimal (open space, box pour s'isoler, bibliothèque, cuisine autogérée). 
  
  Pourquoi faire Simplon.co ?
  ---------------------------
  
  A Simplon.co, vous allez apprendre le développement web et la création d'entreprise de type "startup". Vous serez opérationnels sur des langages de programmation puissants, accessibles et agréables à utiliser (Ruby, Ruby on Rails), et vous pourrez amener rapidement un produit ou un service sur le marché, en le faisant évoluer pour correspondre aux attentes des utilisateurs, et pourquoi pas en vivre et créer de la valeur et des emplois. Et ce en 6 mois maximum !
  
  En plus d'apprendre le code par la pratique, en travaillant sur des projets des les premières semaines, notre objectif est de vous permettre de travailler sur **vos** projets si vous en avez : qu'il s'agisse de services web, d'applications, de plates-formes ou de projets dans la vie réelle fortement structuree par du numérique, nous allons vous apprendre comment vivre de ces projets en réduisant les risques au maximum, tout en vous accompagnant sur la conception de ces projets, sur leur développement, et sur leur financement.
  
  **En résumé, Simplon.co a trois objectifs :**
  
  1. en 6 mois minimum, vous donner une réelle compétence, et la capacité a continuer à apprendre de manière autonome
  2. faire de vous des entrepreneurs et vous accompagner dans vos projet, ou dans des projets que nous aurons conçus ensemble, et dont vous pourrez vivre
  3. et ce en apportant de la valeur à la société et aux personnes qui en ont le plus besoin
  
  ## Est-ce que Simplon.co est fait pour moi ?
  
  La formation proposée par Simplon.co est intensive, immersive, très collaborative, et son format exige des profils spécifiques, tant en termes de personnalité que de compétences personnelles.
  
  Voici des critères qui justifieront votre candidature, et optimiseront votre expérience au sein de Simplon.co :
  
  * avoir un bon niveau d'anglais (si vous réussissez l'étape 1., ça devrait convenir), et peu importe que vous l'ayez acquis en écoutant de la musique, en regardant des séries ou en jouant à des jeux en réseau. **L'essentiel est de bien le comprendre à l'oral comme à l'écrit, il ne s'agit pas de s'exprimer oralement en anglais. C'est indispensable pour progresser vite dans la formation car les matériaux pédagogiques et les personnes qui vous accompagneront sur place ou à distance dans votre progression sont anglophones.**
  * capacité à travailler en équipe, à bien communiquer, à bien faire comprendre aux autres ce que l'on a en tête
  * volonté d'aider les autres, à être à leur écoute, a comprendre les problèmes auxquels ils sont confrontés
  * capacité à expliquer des choses, à être pédagogue et explicite
  * être un "passionné" : être capable de s'intéresser à un sujet de manière intensive et approfondie
  * curiosité, soif de connaissance, vouloir en savoir toujours plus, mais aussi savoir confronter différentes sources afin de juger de la qualité de ce qu'on trouve (esprit critique)
  * persévérance : lorsqu'on se confronte a un problème, ne pas abandonner jusqu'à avoir trouvé une solution
  * avoir l'esprit débrouillard : trouver des solutions alternatives aux problèmes, être en mode système D
  
  Comment ça se passe pour postuler
  ---------------------------------
  
  **Pour rejoindre la famille simplonienne, il y a deux grandes étapes, que vous pouvez passer selon le calendrier suivants :**
  
  * étape 1. ("le baptême du feu") : jusqu'au 1er juillet
  * étape 2. ("la rencontre au sommet") : rencontres individuelles des admissibles en juillet-août
  * début de la formation : à la rentrée
  
  ### 1. Le baptême du feu
  
  #### 1.a. Les badges
  
  Ci-dessous, deux écoles de code en ligne, gratuites, ou vous pourrez atteindre le niveau minimum pour postuler à Simplon.co. **Même si vous n'avez jamais fait de code, vous pourrez tout a fait obtenir le badge nécessaire en quelques jours.**
  
  C'est parti :
  
  1. créez-vous un compte gratuit sur [Code School](http://www.codeschool.com/)
  2. passez les étapes proposées ci-dessous, pas à pas, jusqu'à terminer les sessions
  3. et bien sûr, si vous voulez passer d'autres badges sur Code School, [il y a d'autres formations gratuites que celles-ci](http://www.codeschool.com/courses). Cela ne peut que renforcer votre candidature !
  
  NB : parfois, tout ne va pas se passer exactement comme sur des roulettes, dans ces exercices. Ne vous inquiétez pas : vous n'êtes pas le/la seul(e). Tout développeur est confronté à ce genre de problèmes - et par extension tous les autres candidats :-)
  
  **Persévérez, observez et soyez rigoureux. Parfois il s'agit juste d'un caractère en trop, d'un espace qui manque ou d'une majuscule qui n'a pas sa place.**
  
  Et si il y a des mots en anglais que vous ne comprenez pas, nul besoin de vous préciser que Google est votre ami - ou un bon dictionnaire d'anglais :-)
  
  **Try Ruby : obtenez le badge "I tried Ruby" :**
  
  ![http://tryruby.org/levels/1/challenges/0](https://dl.dropboxusercontent.com/u/53104239/simplonco/tryrybysmall.png)
  
  [http://tryruby.org/levels/1/challenges/0](http://tryruby.org/levels/1/challenges/0)
  
  **Rails for Zombies : obtenez le badge du level 1 :**
  
  ![http://railsforzombies.org/](https://dl.dropboxusercontent.com/u/53104239/simplonco/railszombiessmall.png)
  
  [http://railsforzombies.org/](http://railsforzombies.org/)
  
  #### 1.b. La vidéo
  
  Communiquez nous votre enthousiasme et parler nous de vos projets : tout ça sous la forme la plus expressive possible. Prenez un appareil qui filme, même en mauvaise qualité, et expliquez-nous en quelques mots qui vous êtes, et pourquoi vous voulez faire la formation Simplon.co. **Durée : moins de 5 minutes. Langue : en français.**
  
  Dans la même vidéo, apprenez-nous quelque chose (quoi que ce soit), parlez nous de vos passions, de vos projets, de vos rêves et de la manière dont apprendre à coder pourrait vous permettre de les concrétiser. **Durée : moins de 5 minutes. Langue : en anglais.**
  
  #### 1.c. Le mail
  
  Sur [inbox@simplon.co](mailto:inbox@simplon.co), envoyez nous un mail contenant :
  
  + le lien vers vos profils CodeSchool et vos badges 
  + le lien vers votre vidéo, que vous aurez mise en ligne sur la plate-forme de votre choix
  + les informations suivantes :
  + Prénom - Nom - Date de naissance - Adresse du domicile et de celui des parents si différent - Numéro de téléphone - Diplômes et formations - Parcours professionnel (tout, les petits boulots aussi nous intéressent)
  + Dites nous pourquoi vous avez besoin d'apprendre à coder pour concrétiser votre projet et pourquoi si c'est le cas vous pensez avoir besoin d'une rémunération ?
  
  ### 2. La rencontre au sommet :-)
  
  Un matin, en ouvrant votre boîte mail, vous constatez que les quelques jours de persévérance et de fun que vous avez passés à obtenir vos badges et à faire votre vidéo ont valu le coup : vous recevez la confirmation que vous avez passé l'étape 1, et êtes convié à Montreuil, au quartier général de Simplon.co.
  
  ### Récapitulatif du mode de candidature :
  
  Jusqu'au 1er juillet - nous envoyer sur inbox@simplon.co un mail contenant :
  
  * un lien vers les badges des écoles en ligne gratuites (Cf. détails plus haut)
  * un lien vers la vidéo que vous aurez produits (idem)
  
  Nous sélectionnerons alors ceux que nous rencontrerons, afin de déterminer qui seront les 24 à suivre la formation dès la rentrée 2013.
  
  
  Comment cela va-t-il se passer concrètement ?
  ---------------------------------------------
  
  La formation vous permettra d'être très vite opérationnels pour travailler sur des projets. Prioritairement sur vos projets à vous. Et selon vos ressources, vous pourrez être rémunérés :
  
  * dans le cadre de contrats de professionnalisation
  * dans le cadre de bourses provenant de notre association
  * sur le mode du sponsoring individuel ou collectif par des entreprises
  
  De fait, la priorité sera que vous travailliez le plus rapidement possible sur vos projets et entreprises personnelles, mais nous pourrons être amenés, ensemble, à réaliser des projets pour des entités externes (entreprises, associations, etc.).
  
  Bien sûr, notre objectif est de cadrer au maximum ces interventions afin qu'elles vous apportent le plus possible, et qu'elles correspondent à la vision globale de Simplon.co.

  A quoi ça ressemble, le code ?
  ------------------------------

  <script src="https://gist.github.com/andreivolt/5633343.js"></script>
