%header
  .row
    .large-12.columns
      %h1 Recruter un développeur

%section#intro
  .row
    .large-12.columns
      %h1 4h, c'est le temps qu'il vous faudra pour poser les bonne questions lors d’un entretien de recrutement d’un développeur
%section#technos
  .row
    .large-12.columns
      %h2 Ce que vous allez découvrir:
      %p
      %ul
        %li

      %h2 Le programme de la journée
      %p
      %ul
        %li

      %h2 A la fin de cette formation:
      %p Vous allez:
      %ul
        %li

      %h2 Ou? Qui?
      %p

      %h2 Pourquoi?
      %p
