.alert-box
  :markdown
    ### **NB**: cette page est vouée à évoluer en fonction des retours que nous recevrons, tant sur la forme que sur les étapes de candidature.

    * [Si vous avez des suggestions, nous sommes preneurs !](mailto:inbox@simplon.co)
    * si vous souhaitez candidater, inutile de nous contacter par mail ou par téléphone. Tout le monde doit être à égalité dans le cadre du recrutement, et passer les étapes décrites plus bas.

:markdown

  Avant tout, quelques petits mots d'intro.
  -----------------------------------------

  **Simplon.co est une formation d'un nouveau genre, qui n'est pas une école à proprement parler.** Il s'agit davantage d'un "camp d'entraînement", comme les formations similaires aiment à le présenter dans d'autres pays (les "bootcamps").
  
  **Un entraînement intensif, immersif, qui dure au moins 5 mois**, qui vous demandera d'être entièrement dévoué à l'apprentissage du développement web et des "tours de magie" qu'il vous permettra de réaliser dès les premiers jours.
  
  **Un entraînement rémunéré (financé ou donnant lieu à une bourse) qui s'adresse prioritairement à ceux qui en ont le plus besoin** : en plus des étapes à passer pour candidater (décrites plus bas), d'autres critères seront pris en compte : situation financière, familiale et scolaire, origine géographique (ZEP/ZUP, zones rurales enclavées, etc.), et plus largement, profils socio-démographiques sous-représentés dans l'entreprenariat et les métiers du web (parité filles-garçons, seniors, handicap, etc. ).
  
  **Un entraînement aussi qui sera en grande partie construit par vous** : nous ne sommes pas vos professeurs. Nous sommes les guides qui vous donneront l'opportunité d'optimiser ce que vous pouvez apprendre par vous-même, en vous fournissant les meilleur confort de travail possible, en vous accompagnant heure après heure sur les difficultés que vous rencontrerez, mais surtout en vous faisant comprendre un peu plus chaque jour que vous êtes maîtres de votre destin, et que les grandes choses que le développement web vous permettront d'accomplir sont a portée de main ! C'est d'ailleurs pour que vous puissiez vous consacrer à 100% à l'aventure que nous sommes en train de mettre au point un système pour vous rémunérer autant que faire
  
  **Un entraînement aussi où l'une des priorités est que vous vous sentiez bien et que vous passiez un moment agréable.** D'expérience, nous pouvons vous garantir que les moments de découragement ne manqueront pas. Mais ils sont bien vite surmontés, laissant place à une nouvelle bouffée d'entrain et de motivation. Et ce notamment grâce à l'entraide constante qui caractérisera la formation. Vous ne serez pas concurrents les uns des autres mais plutôt une famille !
  
  Avant de poursuivre, voici une vidéo de présentation de DevBootCamp. L'ambiance et le format de Simplon.co risquent fortement de ressembler a ceci :
  
  <iframe width="560" height="315" src="http://www.youtube.com/embed/36FLX7RxERg" frameborder="0" allowfullscreen></iframe>
  
  Vous pouvez également consulter ce blog d'un éleve de DevBootcamp, qui raconte son expérience au sein de la formation jour après jour : [http://fabscode.tumblr.com/](http://fabscode.tumblr.com/)
  
  Pourquoi faire Simplon.co ?
  ---------------------------
  
  A Simplon.co, vous allez apprendre le développement web et la création d'entreprise de type "startup". Vous serez opérationnels sur des langages de programmation puissants, accessibles et agréables à utiliser, et vous pourrez amener rapidement un produit ou un service sur le marché, et pourquoi pas en vivre. Et ce en 5 mois minimum.
  
  Vous aurez donc une réelle compétence, très précieuse en ces temps de pénurie de développeurs. Vous pourrez donc trouver un métier aisément avec cette formation.
  
  **Mais le vrai objet de Simplon.co, au-dela d'acquérir une compétence technique et de gagner sa vie avec, c'est d'en faire les meilleures choses possibles. Tant pour vous que pour les autres.**
  
  En effet, en plus d'apprendre le code par la pratique, en travaillant sur des projets des les premières semaines, notre objectif est de vous permettre de travailler sur **vos** projets si vous en avez, et ce serait encore mieux si vous en aviez avant de postuler.
  
  Qu'il s'agisse de services web, d'applications, de plates-formes ou de projets dans la vie réelle fortement structuree par du numérique, nous allons vous apprendre comment vivre de ces projets en réduisant les risques au maximum, tout en vous accompagnant sur la conception de ces projets, sur leur développement, et sur leur financement.
  
  Notre autre objectif est que ces projets qui seront les vôtres aient une utilité pour l'intérêt général, et qu'ils participent du champ de l'éducation, au sens très large du terme, et qu'ils créent de la valeur. Il y a une multitude de problèmes à résoudre par des solutions "software". Plus que l'on peut s'imaginer. Quelques exemples tout de même :
  
  * aider les autres à acquérir des connaissances
  * les aider à l'acquisition de compétences
  * donner aux autres les moyens de s'organiser plus efficacement au quotidien (associations, réseaux locaux, troc, recyclage, entraide, etc.)
  * sensibiliser à des thématiques particulières (solidarité, environnement, santé/prévention, etc.) et donner les moyens d'agir concrètement
  * et bien d'autres
  
  **En résumé, Simplon.co a trois objectifs :**
  
  1. en 5 mois, vous donner une réelle compétence, et la capacité a continuer à apprendre de manière autonome
  2. faire de vous des entrepreneurs et vous accompagner dans vos projet, ou dans des projets que nous aurons conçus ensemble, et dont vous pourrez vivre
  3. et ce en apportant une contribution positive au bien commun
  
  ## Est-ce que Simplon.co est fait pour moi ?
  
  La formation proposée par Simplon.co est intensive, immersive, très collaborative, et son format exige des profils spécifiques, tant en termes de personnalité que de compétences personnelles.
  
  **Il est important de connaître ces spécificités, afin que vous puissiez estimer à quel point :**
  
  * la formation est faite pour vous
  * vous pensez être en mesure d'en tirer le maximum de bénéfices
  * et surtout à quel point vous pensez que vous vous y sentirez bien !
  
  Voici des critères qui justifieront votre candidature, et optimiseront votre expérience au sein de Simplon.co :
  
  * avoir un bon niveau d'anglais (si vous réussissez l'étape 1., ça devrait convenir), et peu importe que vous l'avez acquis en écoutant de la musique, en regardant des séries ou en jouant à des jeux en réseau. **L'essentiel est de bien le comprendre à l'oral comme à l'écrit, pas de s'exprimer en anglais. C'est indispensable pour progresser vite dans la formation.**
  * capacité à travailler en équipe, à bien communiquer, à bien faire comprendre aux autres ce que l'on a en tête
  * volonté d'aider les autres, à être à leur écoute, a comprendre les problèmes auxquels ils sont confrontés
  * capacité à expliquer des choses, à être pédagogue
  * être un "passionné" : être capable de s'intéresser à un sujet de manière intensive et approfondie
  * curiosité, soif de connaissance, vouloir en savoir toujours plus, mais aussi savoir confronter différentes sources afin de juger de la qualité de ce qu'on trouve (esprit critique)
  * persévérance : lorsqu'on se confronte a un problème, ne pas abandonner jusqu'à avoir trouvé une solution
  * avoir l'esprit débrouillard : trouver des solutions alternatives aux problèmes, être un MacGyver du quotidien
  
  Comment ça se passe pour postuler
  ---------------------------------
  
  **Pour rejoindre la famille simplonienne (24 places), il y a deux grandes étapes, que vous pouvez passer selon le calendrier suivants :**
  
  * étape 1. ("le baptême du feu") : jusqu'au 1er juillet
  * étape 2. ("la rencontre au sommet") : rencontres individuels des admissibles en juillet-août
  * début de la formation : à la rentrée
  
  ### 1. Le baptême du feu
  
  #### 1.a. Les badges
  
  Ci-dessous, deux écoles de code en ligne, gratuites, ou vous pourrez atteindre le niveau minimum pour postuler a Simplon.co. **Même si vous n'avez jamais fait de code, vous pourrez tout a fait obtenir le badge nécessaire en quelques jours.**
  
  C'est parti :
  
  1. créez-vous un compte gratuit sur [Code School](http://www.codeschool.com/)
  2. passez les étapes proposées ci-dessous, pas à pas, jusqu'à terminer les sessions
  3. et bien sûr, si vous voulez passer d'autres badges sur Code School, [il y a d'autres formations gratuites que celles-ci](http://www.codeschool.com/courses). Cela ne peut que renforcer votre candidature !
  
  NB : parfois, tout ne va pas se passer exactement comme sur des roulettes, dans ces exercices. Ne vous inquiétez pas : vous n'êtes pas le/la seul(e). Tout développeur est confronté a ce genre de problèmes - et par extension tous les autres candidats :-)
  
  **Persévérez, observez et soyez rigoureux. Parfois il s'agit juste d'un caractère en trop, d'un espace qui manque ou d'une majuscule qui n'a pas sa place dans le code.**
  
  Et si il y a des mots en anglais que vous ne comprenez pas, nul besoin de vous préciser que Google est votre ami - ou un bon dictionnaire d'anglais :-)
  
  **Try Ruby : obtenez le badge "I tried Ruby" :**
  
  ![http://tryruby.org/levels/1/challenges/0](https://dl.dropboxusercontent.com/u/53104239/simplonco/tryrybysmall.png)
  
  [http://tryruby.org/levels/1/challenges/0](http://tryruby.org/levels/1/challenges/0)
  
  **Rails for Zombies : obtenez le badge du level 1 :**
  
  ![http://railsforzombies.org/](https://dl.dropboxusercontent.com/u/53104239/simplonco/railszombiessmall.png)
  
  [http://railsforzombies.org/](http://railsforzombies.org/)
  
  #### 1.b. La vidéo
  
  Nous sommes certains que vous avez tout un tas de choses intéressantes à nous dire, et que votre motivation est à toute épreuve. Et aussi que vous avez envie de nous communiquer tout ça sous la forme la plus expressive possible.
  
  Prenez un appareil qui filme, même en mauvaise qualité, et expliquez-nous en quelques mots qui vous êtes, et pourquoi vous voulez faire la formation Simplon.co. **Durée : entre 1 min 30 et 2min. Langue : en français.**
  
  Dans la même vidéo, apprenez-nous quelque chose (quoi que ce soit), parlez nous de vos passions, de vos projets, de vos rêves et de la manière dont apprendre à coder pourrait vous permettre de les concrétiser. **Durée : entre 1 min et 1 min 30. Langue : en anglais.**
  
  #### 1.c. Le mail
  
  Sur [recrutement@simplon.co](mailto:recrutement@simplon.co), envoyez nous un mail contenant :
  
  + le lien vers vos profils CodeSchool et vos badges 
  + le lien vers votre vidéo, que vous aurez mise en ligne sur la plate-forme de votre choix
  + les informations suivantes :
  + Prénom - Nom - Date de naissance - Adresse - Numéro de téléphone - Diplômes et formations - Parcours professionnel (tout, les petits boulots aussi nous intéressent)
  + Dites nous pourquoi vous pensez mériter ce genre de formation rémunérée ouverte principalement aux personnes défavorisées ? Avez-vous été boursier au cours de votre scolarité ? Etes-vous bénéficiaire d'une aide sociale ? Autres raisons (familiales, difficulté à trouver un emploi, âge, etc.) ?
  
  ### 2. La rencontre au sommet :-)
  
  Un matin, en ouvrant votre boîte mail, vous constatez que les quelques jours de persévérance et de fun que vous avez passés a obtenir vos badges et à faire votre brillante vidéo ont valu le coup : vous recevez la confirmation que vous avez brillamment passé l'étape 1, et êtes convié à Montreuil, au quartier général de Simplon.co.
  
  Ne vous inquiétez pas, il ne s'agira pas de faire des parcours du combattant ou de subir des interrogatoires :-)
  
  Nous rencontrerons environ 70 candidats, et échangerons avec eux afin de mieux nous connaître, et d'approfondir sur ce qui sera fait à Simplon.co, et de sélectionner les 24 qui suivront la formation.
  
  ### Récapitulatif du mode de candidature :
  
  Jusqu'au 1er juillet - nous envoyer sur inbox@simplon.co un mail contenant :
  
  * un lien vers les badges des écoles en ligne gratuites (Cf. détails plus haut)
  * un lien vers la vidéo que vous aurez produits (idem)
  
  Nous sélectionnerons alors ceux que nous rencontrerons, afin de déterminer qui seront les 24 à suivre la formation dès la rentrée 2013.
  
  
  Comment cela va-t-il se passer au quotidien ?
  ---------------------------------------------
  
  **Vous allez être la première promotion de Simplon.co, donc ce qui va suivre est une anticipation de ce que sera le rythme et l'ambiance au sein de la formation. Ce sera en grande partie vous qui déterminerez l'ambiance qui règnera, les projets qui auront cours, et les activités autour de la formation. Vous donnerez le cap ! :-)**
  
  Tous les jours, les cours commenceront à la même heure (ponctualité exigée). La journée sera globalement composée des mêmes activités :
  
  * 20% de cours par les mentors sur un sujet technique
  * 10% de cours par les mentors sur un autre sujet (coaching entrepreneurial, interface et User Experience, monétisation et modèles économiques, études de cas, formation à la prise de parole en public, etc.
  * 50% de pratique : exercices, construction de vos projets, aide des autres recrues, etc.
  * 20% autres : présentations personnelles, activités (sport, musique, relaxation, etc.)
  
  Quelques points pour mieux vous projeter :
  
  * lorsque vous buterez sur un point, vous pourrez publier un ticket d'aide, et d'autres recrues viendront vous aider. Et inversement : vous pourrez aider les autres sur des points que vous maîtrisez.
  * les travaux de groupe exigent que vous puissiez échanger dans de bonnes conditions, pour laisser libre cours à vos échanges et à votre créativité : il y aura également un espace de réunion optimisé (whiteboards, post-its, poufs, grand écran, etc.)
  * lorsque vous serez fatigués, vous pourrez prendre un moment de détente dans un espace prévu à cet effet
  * vous pourrez faire des présentations de 20 minutes en moyenne lorsque vous en aurez envie, sur le thème de votre choix, et inviter les recrues qui veulent y assister (les "breakout sessions")
  * le matériel de travail vous sera fourni (Mac, Nexus 4, livres, etc.)
  * nous serons étroitement en contact et en collaboration avec la communauté Ruby - intervention en vidéo-conférence (mais aussi lors de passages a Paris) de développeurs des US et du monde entier, sessions de pair-programming a distance avec les apprentis d'autres bootcamps, intervention par vous dans le cadre d'événements et de vidéo-conférences, etc. Eh oui : devenir un hacker entreprenant, c'est aussi entrer dans une grande famille portée par tout en ensemble de passions et de valeurs :-)
  
  Plus concrètement, quelle sera ma relation juridique à Simplon.co ?
  -------------------------------------------------------------------
  
  Comme précisé plus haut, nous allons vous former, et vous serez très vite opérationnels pour travailler sur des projets. Prioritairement sur vos projets à vous.
  
  Nous sommes encore en train de réfléchir et de trouver des solutions pour que vous soyez rémunérés le mieux possible au cours de votre formation. Et ce soit :
  
  * dans le cadre de contrats de professionnalisation
  * dans le cadre de bourses provenant de notre association
  * sur le mode du sponsoring individuel ou collectif par des entreprises
  
  De fait, la priorité sera que vous travailliez le plus rapidement possible sur vos projets et entreprises personnelles, mais nous pourrons être amenés, ensemble, à réaliser des projets pour des entités externes (entreprises, associations, etc.).
  
  Bien sûr, notre objectif est de cadrer au maximum ces interventions afin qu'elles vous apportent le plus possible, et qu'elles correspondent à la vision globale de Simplon.co.
