%header
  .row
    .large-12.columns
      %h1 Recruter un développeur

%section#intro
  .row
    .large-12.columns
      %h1 4h, c'est le temps qu'il vous faudra pour poser les bonne questions lors d’un entretien de recrutement d’un développeur
%section#technos
  .row
    .large-12.columns
      %h2 Ce que vous allez découvrir:
      %p Evaluer le niveau d’un développeur
      %ul
        %li 
          Bonnes et mauvaises questions
          %ul
            %li Les questions superflues/ pourquoi?
            %li Les bonnes questions

        %li 
          Evaluer la motivation/passion
          %ul
            %li Github? -> le cv du développeur
            %li Stackoverflow -> l’engagement du développeur dans la communauté / le niveau des questions qu’il pose
            %li Travaux personnels

        %li 
          Tester la réflexion
          %ul
            %li test foobar
        %li Trouver la perle

      %h2 Le programme de la journée
      %p Les développeurs viennent d’une autre planète. Cet été, embarquez pour SC24, leur planète d’origine et apprenez à les comprendre d’où viennent les développeurs.
      %ul
        %li
          9h
          %ul
            %li
        %li
          13h
          %ul
            %li
        %li
          15h - 19h
          %ul
            %li

      %h2 A la fin de cette formation:
      %p Vous allez:
      %ul
        %li Connaître et mobiliser le lexique et le vocabulaire d’un développeur
        %li Formuler clairement ses demandes pour gagner du temps
        %li appréhender la programmation avec Ruby
        %li savoir rédiger un cahier des charges

      %h2 Ou? Qui?
      %p A Montreuil, au 55 rue de Vincennes dans une fabrique rénovée de 250 m² qui abrite Simplon.co , "fabrique de codeurs entreprenants".

      %h2 Pourquoi?
      %p Retard sur les délais, bugs, manque de temps ...La mauvaise communication entre le développeur et ses collègues de travail est souvent la source de retards et de tensions pour pouvoir mener à bien un projet. Apprendre à se mettre à la place d’un développeur et se familiariser avec ses méthodes et outils de travail c’est s’assurer une qualité de travail inégalée.Ou / qui ?
A Montreuil, au 55 rue de Vincennes dans une fabrique rénovée de 250 m² qui abrite Simplon.co , "fabrique de codeurs entreprenants".
