%header
  .row
    .large-12.columns
      %h2.subheader Initiation à la programmation web en 3 jours
%section#intro
  .row
    .large-12.columns
      %h1 24h, c'est le temps qu'il vous faudra pour découvrir la programmation web, bâtir un clone de Twitter, créer un "ad server" à partir de zéro, et un prototype de votre propre projet.
%section#technos
  .row
    .large-12.columns
      %h2 Ce que vous allez découvrir :
      .row#sc_panels
        .large-4.columns
          .sc_box
            %h4 Programmer une application web
            %p Vous comprendrez l'architecture d'une "application web", et vous allez écrire du code pour ajouter des fonctionnalités à une application préexistante
            %ul
              %li
                introduction à la programmation avec
                %a(href="//fr.wikipedia.org/wiki/Ruby") Ruby
                et Javascript
              %li le web programmable avec les APIs
              %li écriture & mise en forme : HTML5, CSS
              %li protocoles : HTTP, TCP/IP, DNS
              %li REST et les APIs Hypermedia
              %li stocker et récupérer des données : bases de données relationnelles et non-relationelles
              %li dévellopement guidé par des tests : Cucumber, Rspec
        .large-4.columns
          .sc_box
            %h4 Mettre en ligne une application web
            %p Qu'est ce qu'un "serveur" web ? Vous allez non seulement comprendre ce que c'est, mais vous allez en configurer un, le lancer, et observer son fonctionnement
            %ul
              %li mettre en ligne une application sur le PaaS Heroku
              %li prototypage rapide avec le framework web Sinatra
              %li comprendre HTTP, le protocole du web
              %li hardware : installer un serveur web sur un Raspberry Pi
              %li monitoring : suivre le fonctionnement d'une application web, mettre en place un système d'alertes
        .large-4.columns
          .sc_box
            %h4 Utiliser les outils d'un développeur web
            %p Vous allez avoir une vue d'ensemble de la boîte à outils d'un développeur web.
            %ul
              %li le système de gestion de version Git
              %li travailler en groupe avec Github ("social coding")
              %li les outils de développement de Google Chrome
%section#program
  .row
    .large-12.columns
      %h2 Le programme
      %ul#timeline
        %li
          %strong Jour 1 : introduction à la programmation
          %p objet d'étude : un clône de Twitter
          %ul
            %li contexte, petite histoire des langages de programmation et du réseau Internet
            %li introduction à la programmation
            %li outils de collaboration pour la programmation
            %li comprendre le fonctionnement du réseau Internet
            %li écrire et mettre en forme un document sur le web
        %li
          %strong Jour 2 : applications web
          %p objet d'étude : un "ad server"
          %ul
            %li programmer le web : APIs et services web
            %li HTML5 et le web mobile
            %li animations et interactivité sur une page web
            %li fonctionnement d'un navigateur web
            %li programmer dans un navigateur web
            %li l'architecture MVC (Modèle-Vue-Controlleur)
        %li
          %strong Jour 3 : exploration
          %p objet d'étude : votre propre projet
          %ul
            %li prototypage rapide avec Sinatra
            %li bases d'éléctronique
            %li programmation embarquée avec Arduino
%section#skills
  .row
    .large-12.columns
      %h2 A la fin de cette formation :
      %p Vous allez :
      %ul
        %li comprendre le processus de développement d'une application web
        %li pouvoir mieux communiquer avec les équipes techniques
        %li être capable d'estimer la complexité technique et la faisabilité d'une idée de projet web
        %li avoir une vue d'ensemble des capacités du web, et être plus créatifs dans vos propositions
        %li avoir des compétences opérationnelles pour résoudre des petits problèmes avec le web
        %li repartir avec le Raspberry Pi qui contiendra l'application que vous avez développée et l'historique de ce que vous avez fait. Exception : dans le cadre des sessions gratuites ou à tarif préférentiel (bénéficiaires d'aides sociales, chercheurs d'emploi, étudiants, etc.), les Raspberry Pis seront fournis pendant la formation, mais nous ne pourrons les donner au terme de celle-ci. 
%section
  .row
    .large-12.columns
      %h2 Pourquoi ?
      %p 2011 et 2012 on vu la naissance et le développement d'un mouvement international pour l'apprentissage de la programmation.
      %p Avec la montée de l'Internet mobile, et la transformation de nos "téléphones" en ordinateurs performants, nous utilisons de plus en plus de programmes dans notre vie de tous les jours, que ce soit sous la forme d'applications mobile, de sites web-applications, etc. Mais, trop peu d'entre nous savent comment ils fonctionnent, et comment en créer.
%section
  .row
    .large-12.columns
      %h2 Ou / qui ?
      .row
        .large-6.columns
          %p
            A Montreuil, au 55 rue de Vincennes dans une fabrique rénovée de 250 m² qui abrite
            %a(href="/") Simplon.co
            , "fabrique de codeurs entreprenants".
        .large-6.columns
          %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.fr/maps?f=q&source=s_q&hl=en&geocode=&q=55+Rue+de+Vincennes,+Montreuil&aq=0&oq=55+rue+de+vinc&sll=46.75984,1.738281&sspn=13.25102,33.815918&vpsrc=6&ie=UTF8&hq=&hnear=55+Rue+de+Vincennes,+94300+Montreuil,+Seine-Saint-Denis,+%C3%8Ele-de-France&t=m&z=14&ll=48.854352,2.435775&output=embed", :width => "425"}
          %br
          %small
            %a{:href => "https://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=55+Rue+de+Vincennes,+Montreuil&amp;aq=0&amp;oq=55+rue+de+vinc&amp;sll=46.75984,1.738281&amp;sspn=13.25102,33.815918&amp;ie=UTF8&amp;hq=&amp;hnear=55+Rue+de+Vincennes,+94300+Montreuil,+Seine-Saint-Denis,+%C3%8Ele-de-France&amp;t=m&amp;z=14&amp;ll=48.854352,2.435775", :style => "color:#0000FF;text-align:left"} Voir la carte en grand
%section
  .row
    .large-12.columns
      %h2 Infos pratiques
      %p
        Le
        %a(href="http://fr.wikipedia.org/wiki/Droit_individuel_%C3%A0_la_formation") DIF
        (Droit individuel à la formation), permet à votre entreprise de prendre en charge votre formation.
%section
  .row
    .large-4.large-offset-8.columns
      %a.button.expand.large(href="//simplonco.wufoo.com/forms/summer-camp-2013-15-juillet-31-aoat/") Inscrivez-vous
