:markdown
  C’est l’été, devenez techno-créatifs, apprivoisez le pouvoir du code, découvrez Simplon.co !
  ============================================================================================

  Simplon.co, fabrique de développeurs d’applications web/mobile et d’entrepreneurs sociaux du numérique, fait son premier “Techno Summer Camp” dans ses locaux tout fraîchement aménagés du 55 rue de Vincennes, à Montreuil (pour avoir une idée, c’est le lieu du tournage de la chocolaterie des Emotifs Anonymes avec Poelvorde et Carré).

  Avec au programme à partir du 21 juin :
  ---------------------------------------

  * des journées portes ouvertes les, 21, 26, 2 et 9 juillet de 9h à 20h (inscription obligatoire)
  * et tout l’été sont organisées des visites spécifiques sur place pour vous et votre organisation, et des formations individuelles (éligibles au DIF) et collectives (inter/intra) sur les thèmes suivants :
   * Initiation à la programmation avec Ruby et Ruby on Rails
     Le code et la compréhension des enjeux techniques ouvrent rapidement des possibilités puissantes, même aux débutants. Familiarisez-vous avec eux, construisez en quelques jours des applications qui marchent, et apprenez à apprendre de manière autonome !
   * découverte Arduino/Raspberry Pi/Jerry
  Toute une nouvelle génération d’appareils nus, programmables et customisables, qui démocratisent des potentiels jusqu’ici réservés aux laboratoires et aux industries.
   * méthode Lean startup
  Comment concevoir, construire et pérenniser un projet web en réduisant les coûts, les risques, mais aussi en optimisant les résultats.
   * initiation à Github le “Wikipédia du code et des projets”... Une nouvelle façon d’organiser la collaboration, plus révolutionnaire encore que les documents partagés en temps réel.

  Pour le 9 juillet, les visites ad hoc et les formations : inscrivez-vous. Pour organiser des événements (barcamps, workshops, hackathons...) et travailler avec nous : contactez-nous

  Ils soutiennent Simplon.co (à confirmer/valider) :
  --------------------------------------------------
  
  Ville de Montreuil, Est Ensemble, Les Entretiens de l’Excellence et le Club XXIème siècle, Région Ile de France, la Fonderie, Intel Software, Norsys et le Réseau Etincelle, CJD 93, Phare Comptoir du recrutement et de l’entrepreneuriat 93, Faber Novel et Cap Digital

  Ils parlent de Simplon.co :
  ---------------------------

  Le Mouv, Nova, Basta, Melting Book, Youphil, FoulExpress, Les Echos, Madyness, Raje, Réussir ma vie, Le Parisien

  Simplon.co est fabrique de développeurs d’applications web/mobile et d’entrepreneurs sociaux du numérique située à Montreuil (93). Ce concept inédit en France combine dans un même lieu et dans un environnement unique l'apprentissage accéléré et intensif de la programmation et la méthode lean-startup pour augmenter le pouvoir d'agir des personnes qui en ont besoin, ou les projets qui vont dans ce sens.

/ Begin MailChimp Signup Form
#wufoo-z7x4m1
  Remplissez ce
  = succeed "." do
    %a{:href => "http://simplonco.wufoo.com/forms/z7x4m1"} formulaire
:javascript
  var z7x4m1;(function(d, t) {
  var s = d.createElement(t), options = {
  'userName':'simplonco',
  'formHash':'z7x4m1',
  'autoResize':true,
  'height':'620',
  'async':true,
  'header':'show'};
  s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
  s.onload = s.onreadystatechange = function() {
  var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
  try { z7x4m1 = new WufooForm();z7x4m1.initialize(options);z7x4m1.display(); } catch (e) {}};
  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
  })(document, 'script');

