.row
  .large-12
    %header
      %h2 Cet été, devenez techno-créatifs, apprivoisez le pouvoir du code, Simplon.co fait son Summer Camp !
      %img(src="https://dl.dropboxusercontent.com/u/62216/simplon.co%20photos/summercamp.jpg")

    %p
      Simplon.co, fabrique de développeurs d’applications web/mobile et d’entrepreneurs sociaux du numérique, fait son premier “Summer Camp” dans ses locaux tout fraîchement aménagés du 55 rue de Vincennes, à Montreuil (pour avoir une idée, c’est
      %a(href="//www.youtube.com/watch?v=Eb6VGdPGVO8") la chocolaterie du film Les Emotifs Anonymes avec Poelvorde et Carré

    %p
      %strong NB : ces formations d'été sont payantes, afin que nous puissions rémunérer nos recrues qui auront besoin d'un soutien financier dans le cadre la formation de 6 mois en octobre.
    %ul 
      %li La base tarifaire des formations un jour et trois jours (Cf. ci-dessous) est de 500€/jour,éligibles au DIF. Tarifs à la carte et intra-entreprise à discuter au cas par cas. 
      %li Des tarifs préférentiels seront proposés, sur la base de 100€/jour, aux demandeurs d'emploi, étudiants, porteurs de projets. NB : renseignez-vous, vous pouvez peut-être bénéficier du DIF ou autres aides dédiées à la formation - Pôle Emploi, Conseil Général, Conseil Régional, etc. Ces tarifs préférentiels seront appliqués à un nombre de places limité.
    %p Pour les personnes disposant de revenus très limités (RSA, fin de droits, etc.), et ne bénéficiant pas de ces aides, deux sessions gratuites d'initiation d'une journée seront accessibles cet été. Nombre de places : 16. La sélection se fera essentiellement sur le profil et la motivation, en vue notamment de candidater à la formation de 6 mois. 


    %h2 Le programme en bref :

.row
  .large-4.columns
    .feature
      %h3 Formation 1 jour *
      %p
        Initiation express à la programmation avec Ruby, 24h pour refaire Twitter et repartir avec votre propre code sur un Raspberry Pi ! 
        %a(href="/landing/sc_twitter") Plus d'info
      %a.button(href="#inscription") S'inscrire
  .large-4.columns
    .feature
      %h3 Formation 3 jours *
      %p 
        Construisez votre application, clonez Twitter et codez un "ad server" avec Ruby et Ruby on Rails, repartez avec un Raspberry PI contenant vos applications ! 
        %a(href="/landing/sc_twitter_3j") Plus d'info
      %a.button(href="#inscription") S'inscrire
  .large-4.columns
    .feature
      %h3 Evènements
      %p Hackathon, workshop, masterclass, pecha kucha, shakers, meetups, ignite, lightening talks : organisez un évènement chez nous !
      %a.button(href="#inscription") Proposer un évènement

.row
  .large-12.columns

    %p * Eligible au DIF, prix découverte très attractifs et tarifs adaptés si chômeur, porteur de projet, élève/étudiant

    %h2 Localisation

    %ul
      %li
        à 3 minutes à pied de la ligne
        %span.transit.line-9 9
        (Croix de Chavaux)
      %li
        à 8 minutes du RER
        %span.transit.rer-a A
        (Vincennes)
      %li
        à 10 minutes de la ligne 1
        %span.transit.line-1 1
        (Bérault).

    :markdown

      Avec au programme à partir du 26 juin :
      ---------------------------------------

      Des **journées portes ouvertes** les 15 et 22 juillet de 9h à 20h (inscription obligatoire ci-dessous).

      Et tout l’été sont organisées des **visites spécifiques sur place** pour vous et votre organisation, ainsi que des **formations individuelles (éligibles au DIF*) et collectives (inter/intra-entreprises)**, sur les thèmes suivants :

        * **Initiation à la programmation avec Ruby et Ruby on Rails : la compréhension des enjeux techniques liés aux ordinateurs et aux logiciels qui les animent ouvrent rapidement des possibilités puissantes, même (voire *surtout*) aux débutants. Familiarisez-vous avec eux, passez de l'autre côté du miroir, construisez en quelques jours des applications qui marchent, et apprenez à apprendre à coder de manière autonome ! Pour mieux  communiquer et collaborer avec des équipes techniques ou pour avoir de nouvelles idées pour vous et vos clients : cap ou pas cap de coder ?**

        * **Découverte Arduino/Raspberry Pi/Jerry** : toute une nouvelle génération d’appareils nus, programmables et customisables, qui démocratisent des potentiels jusqu’ici réservés aux laboratoires et aux industries. Miam miam.

        * **Méthode "lean startup"** : comment concevoir, construire et pérenniser un projet web en réduisant les coûts, les risques, mais aussi en optimisant les résultats. Aucune idée géniale ne survit à son premier utilisateur, avec lean startup : c'est une bonne nouvelle pour vos projets !

        * **Initiation à Github le “Wikipédia du code et des projets”** : une nouvelle façon d’organiser la collaboration, plus révolutionnaire encore que les documents partagés en temps réel de type Google Docs, pour construire des logiciels, des applications, gérer des projets, des entreprises... Qui sait ce que vous ferez avec Github ?

      Pour les journées portes ouvertes, les visites ad hoc et les formations... et pour organiser des événements (barcamps, workshops, hackathons, keynotes, masterclasses, pecha kucha, shakers, meetups, ignite ou lightening talks...) et travailler avec nous **inscrivez-vous ou contactez-nous en remplissant le formulaire ci-dessous**

      \* *le "[DIF](http://fr.wikipedia.org/wiki/Droit_individuel_%C3%A0_la_formation)" (Droit individuel à la formation), permet à votre boîte de prendre en charge votre formation.*

      Pour qui ?
      ----------

      * Vous êtes chef de projet, planneur, créatif, consultant, webdesigner en agence, ou marketeur, communicant, comptable, chercheur en entreprise : nos formations sont faites pour vous !
      * Vous travaillez avec des équipes techniques, et vous avez envie de mieux comprendre ce qui se passe de l'autre côté de la barrière, de mieux communiquer et collaborer avec développeurs et autres administrateurs système.
      * L'univers des startups vous attire, le prototypage rapide, les Produits Minimums Viables, et l'approche par pivots vous intéressent.
      * Vous vouliez apprendre à coder depuis longtemps, mais n'avez jamais osé.
      * Envie de travailler différemment et d'intégrer de nouvelles méthodes, de nouvelles façons de faire, en minimisant potentiellement les coûts et les risques.
      * Vous voulez tout simplement essayer quelque chose de nouveau, "réellement" nouveau, et l'ajouter sur votre CV ? :)

      Par qui ?
      ---------

      * [Andrei Vladescu-Olt](//twitter.com/andreivolt) nerd-en-chef #ruby #programmation #hardware #github
      * [Frédéric Bardeau](//twitter.com/fbardeau) bizzdevninja #leanstartup #com #nonprofit
      * [Erwan Kezzar](//twitter.com/erwankezzar) hacktrepreneur #leanstartup #jugaad #projets

    %p
      %a(href="mailto:inbox@simplon.co") contactez-nous



    / Begin MailChimp Signup Form
    #inscription
      %h2 Inscription
      #wufoo-q7x4a9
        Remplissez ce
        = succeed "." do
          %a{:href => "http://simplonco.wufoo.com/forms/q7x4a9"} formulaire
        :javascript
          var q7x4a9;(function(d, t) {
          var s = d.createElement(t), options = {
          'userName':'simplonco',
          'formHash':'q7x4a9',
          'autoResize':true,
          'height':'2602',
          'async':true,
          'header':'show'};
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { q7x4a9 = new WufooForm();q7x4a9.initialize(options);q7x4a9.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');

    %h2 Ils soutiennent Simplon.co :

    %img(src="https://dl.dropboxusercontent.com/u/183631273/partenaires-simplon.png" alt="Ils nous soutiennent")

    %p
      %a{:target => "_blank", :href => "http://montreuil.fr"}Ville de Montreuil,
      %a{:target => "_blank", :href => "http://www.est-ensemble.fr"}l'agglomération Est Ensemble,
      %a{:target => "_blank", :href => "http://www.lesentretiens.org"}Les Entretiens de l’Excellence,
      %a{:target => "_blank", :href => "http://www.21eme-siecle.org/"}le Club XXIème siècle,
      %a{:target => "_blank", :href => "http://www.iledefrance.fr"}Région Ile de France,
      %a{:target => "_blank", :href => "http://www.lafonderie-idf.fr"}la Fonderie,
      %a{:target => "_blank", :href => "intel-software-academic-program.com/contests/incubators/Intel_soutient_Simplon.pdf"}Intel Software,
      %a{:target => "_blank", :href => "http://www.norsys.fr"}Norsys,
      %a{:target => "_blank", :href => "http://www.fabernovel.com/"}Faber Novel,
      %a{:target => "_blank", :href => "http://www.cjd93.net"}CJD 93,
      %a{:target => "_blank", :href => "http://www.adie.org/regions/ile-de-france"}ADIE 93,
      %a{:target => "_blank", :href => "http://lephare-comptoir.org/"}le Phare Comptoir du recrutement et de l’entrepreneuriat 93,
      %a{:target => "_blank", :href => "http://www.pole-emploi.fr"}Pôle Emploi,

      %a{:target => "_blank", :href => "http://www.fafiec.fr"}le Fafiec.

    %h2 Ils parlent de Simplon.co :

    %img(src="https://dl.dropboxusercontent.com/u/183631273/fleur-pellerin-parisien-site.png" alt="Fleur Pellerin et Le Parisien parlent de Simplon.co")

    %p
      %a{:target => "_blank", :href => "http://www.lemouv.fr/diffusion-une-formation-20-et-solidaire"}Le Mouv,
      %a{:target => "_blank", :href => "http://www.novaplanet.com/radionova/16470/episode-erwan-kezzar-co-fondateur-de-simplonco"}Nova,
      %a{:target => "_blank", :href => "http://www.bastamag.net/article3092.html"}Basta,
      %a{:target => "_blank", :href => "http://www.meltingbook.com/2013/05/encourager-le-potentiel-dinnovation-des-populations-sous-representees/"}Melting Book,
      %a{:target => "_blank", :href => "http://techethique.blog.youphil.com/archive/2013/05/23/simplon-l-ecole-du-web-solidaire.html"}Morgane Tual sur Youphil,
      %a{:target => "_blank", :href => "http://www.foulexpress.com/2013/05/simplon-lagence-atouts-sans-risques/"}FoulExpress,
      %a{:target => "_blank", :href => "http://entrepreneur.lesechos.fr/entreprise/creation/actualites/simplon-co-le-nouveau-tremplin-pour-les-futurs-entrepreneurs-du-web-10029655.php"}Florian Debès pour Les Echos,
      %a{:target => "_blank", :href => "http://www.maddyness.com/accompagnement/2013/06/04/simplon-devenir-developpeur/"}Madyness,
      %a{:target => "_blank", :href => "http://www.raje.fr/archives2/3152-les-dossiers-de-la-redaction-une-formation-2-0-solidaire"}Raje,
      %a{:target => "_blank", :href => "https://docs.google.com/file/d/0B9c-aBvsRGoMcVJXZm5uMWlZblE/edit"}Le Parisien,
      %a{:target => "_blank", :href => "https://remixjobs.com/blog/simplon-co-les-artisans-du-numerique/"} Remixjobs,
      %a{:target => "_blank", :href => "http://www.altaide.com/blog/simplon-co-une-fabrique-de-developpeurs-web-sociale-et-solidaire/"}Altaide,
      %a{:target => "_blank", :href => "http://pro.01net.com/editorial/597101/un-camp-d-entrainement-pour-former-des-jeunes-des-quartiers-populaires-au-web/"}01net.

    %h2 Soutenez Simplon.co :

    %img(src="https://dl.dropboxusercontent.com/u/183631273/billboard-ulule.png" alt="Soutenez Simplon.co sur Ulule")


    %p Simplon.co est une fabrique de développeurs d’applications web/mobile et d’entrepreneurs sociaux du numérique située à Montreuil (93). Ce concept inédit en France combine dans un même lieu et dans un environnement unique l'apprentissage accéléré et intensif de la programmation et la méthode lean-startup pour augmenter le pouvoir d'agir des personnes qui en ont besoin, ou les projets qui vont dans ce sens.

    Crédit photo :
    %a(href="http://www.flickr.com/photos/76876062@N00/83015468/") okapisafari
    %a(href="http://creativecommons.org/licenses/by/2.0/") cc
