@import "settings";
@import "foundation";
@import "compass/css3/box-shadow";

.intro[lang="fr"] {
	font-size: 24px;
	border-bottom: 1px solid hsl(0,0%,90%);
	padding-bottom: $column-gutter/2;
	font-size: emCalc(24px);
	margin-bottom: $column-gutter/2;
	margin-top: $column-gutter;
}

body {
	padding-top: $topbar-height;
    &.landing { background:hsl(0,0%,10%) }
}

.contain-to-grid .top-bar {
	margin-bottom: 0;
}

.logo {
	background:hsl(0,0%,20%);
	padding:.5em;
	margin-left: -.5em;
	color:white;
}

#team {
	background: hsl(5,5%,94%);
	border: 1px solid hsl(5,5%,86%);
	img, .placeholder {
		margin-bottom: .5em;
	}
}

#apply, #team, #social {
	margin-bottom: $column-gutter;
}

.recrutement h2 {
	margin-top: $column-gutter;
}

.name {
	height:2.5em;
	font-weight:bold;
}


#highlights {
	background: hsl(10,50%,40%);
	padding: $column-gutter/2 0;
	margin-bottom: $column-gutter*2;
}
#highlights >:nth-child(-n+3):after {
	content: "+";
	position: absolute;
	right:-5px;
	color:white;
	font-size: 20px;
	top: 100px;
	text-shadow: 0 1px 0 rgba(0,0,0,.6);
}
#highlights >:nth-child(3):after{
	content: "=>";
	right:-11px;
}
#highlights >:last-child .box:after{
	content:"";
}
.box {
	position: relative;
	background:hsl(5,5%,95%);
	@include box-shadow(0 1px 0 rgba(0,0,0,.6));
	padding:1em;
	>:first-child {
		margin:0;
	}
}

#contact {
	background: hsl(5,5%,94%);
}

.placeholder {
	width:140px;
	height:140px;
	background: hsl(10,50%,40%);
	position:relative;
}
.placeholder p {
	top:40%;
	position:absolute;
	left:36%;
	color:white;
}

.tags {
	overflow: hidden;
}
.tag {
	display: inline-block;
	background:hsl(0,0%,10%);
	@include box-shadow(2px 2px 0 rgba(0,0,0,.1));
	padding: 4px 8px;
	margin-bottom: 10px;
	color: white;
}
.alert-box {
	h1, h2, h3, h4, h5, h6 { color: white }
	ul { list-style: disc inside }
	a {
		color: white;
		border-bottom-color: white;
	}
	> *:last-child {
		margin-bottom: 0;
	}
}
p a {
	border-bottom: 1px solid rgb(0, 0, 238);
	padding-bottom: 2px;
}
.panel {
	background: white;
	margin-top: 1em;
}

#building p {
	background: rgba(0,0,0,.8);
	padding: 1em;
	position: absolute;
	top: 50%;
	left: 10%;
	color: white;
}
ul {
	list-style: disc;
}

.recrutement #content {
	border:1px solid hsl(0,0%,80%);
	border-top:0;
	border-bottom:0;
	padding: $column-gutter;
}

.contain-to-grid {
	box-shadow: 0 5px 0 rgba(0,0,0,.1);
}

.gist {
	table { background: inherit; margin: inherit; border: inherit }
	td { font-size: .9em; line-height: inherit; }
}

.summercamp header {
	position: relative;

}
.summercamp header h2 {
	position:absolute;
	top: $column-gutter/2;
	left: 0;
	background: rgba(0,0,0,.8);
	color: white;
	padding: $column-gutter/2;
	width: 80%;
}
img {
	margin-bottom: $column-gutter;

}
#content {
	padding: $column-gutter;
	border: 1px solid hsl(0,0%,90%);
	border-top: 0;
	border-left-color: hsl(0,0%,97%);
}

strong { font-weight: bold }

.feature {
	height: 380px;
	background: hsl(200,45%,55%);
	color:white;
	margin-bottom: 30px;
	@include box-shadow(inset -1px -1px 0 rgba(0,0,0,.5));
	p { padding: 15px 30px}
	h3 {
		background:rgba(0,0,0,.2);
		border-bottom:1px solid rgba(0,0,0,.1);
		padding: 15px 30px;
		color: white;
		text-shadow: 0 1px 1px rgba(0,0,0,.5)
	}
	.button {
		position: absolute;
		bottom: 45px;
		left: 45px;
	}
}

.transit {
	border-radius:30px;
	width:30px;
	height:30px;
	text-align:center;
	font-weight:bold;
	display:inline-block;
	&.line-9 { background: #CEC82B; }
	&.line-1 { background: #F2C931; }
	&.rer-a { border:2px solid #D35E3C; color: #D35E3C; }
}

.summercamp h2, .recrutement h2 { margin-top: 2em }

.landing {
  padding-top: 0;
  .contain-to-grid { display: none }
}

#intro {
  .row {
    background:hsl(200,50%,60%);
    border-color: transparent;
    h1 {
      text-shadow: 1px 0 2px rgba(0,0,0,.5);
      color:white;
    }
  }
  + section .row:first-child { padding-top: $column-gutter }
}
.landing {
  .columns {
    > h1:only-child, > h2:only-child { margin: 0 }
  }
  section > .row {
    padding: $column-gutter;
  }
  .row {
    background:white ;
    h1, h2, h3, h4, h5, h6  { &:first-child { margin-top:0; } }
  }
  section#share {
    h3 { color: white }
    .row { background: hsl(0,0%,10%) }
  }
  header { background: none !important; }
  header .row { background: black }
  #skills .row { background: hsl(40,80%,95%); }
  ul {
    list-style:none;
    li { position: relative }
    li:before { content: "-"; position:absolute; left:-15px; font-weight: bold }
  }
  header {
    background: black;
    .row { padding: $column-gutter/2 $column-gutter;}
    h2.subheader { color:white }
  }
}
ul#timeline {
  list-style: none;
  overflow: hidden;
  ul { margin-left:0 }
  > li {
    &:before { content: "" }
    padding: $column-gutter;
    &:nth-child(1) { background:hsl(40,80%,95%); }
    &:nth-child(2) { background:hsl(20,80%,95%); }
    &:nth-child(3) { background:hsl(60,80%,95%); }
    @media only screen and (min-width: 768px) {
      margin-bottom: -170px;
      padding-bottom: 200px;
      float: left;
      &:last-child { border-right:0}
      &:nth-child(1) { width:40% }
      &:nth-child(2) { width:20% }
      &:nth-child(3) { width:40% }
    }
    @media only screen and (max-width: 768px) {
      border-bottom: 1px solid rgba(0,0,0,.2);
      &:last-child { border-bottom: 0}
    }
  }
}
iframe { width: 100% }

.sc_twitter_3j ul#timeline > li { width: 33.3%;  }

.subbox{
  color: white;
  background: hsl(200,45%,55%);
  strong { padding: $column-gutter; }
  h3 { width: 100%; padding: 5% 10%;background:hsl(200,32.5%,44.1%); color: white; }
  p { padding: 0px $column-gutter 0px $column-gutter; }
  ul { color: white; width: 90%;padding: $column-gutter; margin-left: 5%; font-size: 14px; }
      li { margin-bottom: 10px;}

}
